<div ng-controller='DashboardController'>
  <header>
    <div class='header-wrap dashboard'>
      <ul class='left-side'>
        <li><a href='/'><%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '133', alt: 'LNDMRK') %></a></li> 
        <li><a class='link-1'>how it works?</a></li>
        <li><a class='link-2'>about</a></li>
        <li><a class='link-3'>learning</a></li>
      </ul>
      <ul class='right-side'>
        <li><a class='notification'></a></li>
        <li>
          <a class='user-image'></a>
        </li>
        <li><a class='user' href='#'>USER@LNDMRK.COM</a></li>
        <li class='logout'><a class='link'>LOGOUT</a></li>
      </ul>
    </div>
  </header>
  <section class='portfolio'>
    <div class='container'>
      <div class='title-wrapper'>
        <div class='title'>portfolio management</div>
      </div>
      <div class='management-wrapper'>
        <div class='total'>
          <div class='left'>
            <div class='top'>
              <div class='equity'>
                <div class='currency'>$15,893</div>
                <div class='text'>equity</div>
              </div>
              <div class='plus'>+</div>
              <div class='debt'>
                <div class='currency'>$3,</div>
                <div class='text'>equity</div>
              </div>
            </div>
            <div class='bottom'>

            </div>
          </div>
          <div class='right'>
            <div class='title'>total portfolio</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='myproperties'>
    <div class='container'>
      <div class='line'></div>
      <div class='title'>my properties</div>

      <div class='properties-table'>
        <div class='headers-wrap'>
          <div class='header placeholder'></div>
          <div class='header price'>avarage price from m²</div>
          <div class='header owned'>m² owned</div>
          <div class='header value'>total ownership value</div>
          <div class='header yield'>estimated yield</div>
          <div class='header rating' style='width: 100px'>rating</div>
          <div class='header income'>current monthly income</div>
          <div class='header debt'>debt to value</div>
          <div class='header gains'>gains from initial investment</div>
        </div>
        <div class='data-wrapper' 
             ng-repeat='property in data track by $index'
             ng-click='toggleExpanded(property)'>
          <div class='row-data'>
            <div class='data name' ng-class='property.class'>{{property.name}}</div>
            <div class='data price'>{{ calcAvarage('price', property.assets) | currency }}</div>
            <div class='data owned'>{{ sumProperty('owned', property.assets) }}</div>
            <div class='data value'>{{ sumProperty('value', property.assets) | currency}}</div>
            <div class='data yield' style='width: 133px'>{{ sumProperty('yield', property.assets) }}%</div>
            <div class='data rating' style='width: 98px'>A4-C1</div>
            <div class='data income' style='width: 138px'>{{ sumProperty('income', property.assets) }}</div>
            <div class='data debt' style='width: 134px'>50% / $9,356</div>
            <div class='data gains'>{{ calcAvarage('gains', property.assets) | currency }}</div>
          </div>
          <div class='expanded-data-wrap' ng-show='expanded.id === property.id'>
            <div class='expanded-row-data' ng-repeat='asset in property.assets'>
              <div class='expanded-data name' ng-class='property.class'>{{asset.name}}</div>
              <div class='expanded-data '>{{asset.price | currency }}</div>
              <div class='expanded-data'>{{asset.owned}}</div>
              <div class='expanded-data' >{{asset.value | currency }}</div>
              <div class='expanded-data' style='width: 133px'>{{asset.yield}}%</div>
              <div class='expanded-data' style='width: 100px'>{{asset.rating}}</div>
              <div class='expanded-data' style='width: 138px'>{{asset.income | currency }}</div>
              <div class='expanded-data' style='width: 134px'>{{asset.debt | currency }}</div>
              <div class='expanded-data'>{{asset.gains | currency }}</div>
            </div>
          </div>
        </div>
        <div class='row-data sum'>
          <div class='data name'>sum</div>
            <div class='data'>{{sumAll('price') | currency }}</div>
            <div class='data'>{{sumAll('owned')}}</div>
            <div class='data'>{{sumAll('value') | currency}}</div>
            <div class='data'>{{sumAll('yield')}}%</div>
            <div class='data'>A4-C1</div>
            <div class='data'>{{sumAll('income')}}</div>
            <div class='data'>50% / $9,356</div>
            <div class='data'>{{sumAll('gains') | currency}}</div>  
        </div>
      </div>
    </div>
  </section>
</div>