<div ng-controller='DashboardController'>
  <header>
    <div class='header-wrap'>
    <ul class='left-side'>
      <li><a href='#'><%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '133', alt: 'LNDMRK') %></a></li> 
      <li><a class='link-1'>how it works?</a></li>
      <li><a class='link-2'>about</a></li>
      <li><a class='link-3'>learning</a></li>
    </ul>
    <ul class='right-side'>
      <li><a class='link-4'>EN</a></li>
      <span class='v-strip'>|</span>
      <li><a class='link-5'>HEB</a></li>
      <li><a class='link-6' href='/dashboard'>login</a></li>
      <li class='invest-wrap'><a class='invest'>invest</a></li>
    </ul>
    </div>
  </header>
  <section class='portfolio'>

  </section>

  <section class='my-properties'>
  
  </section>
</div>