<div ng-controller='DashboardController'>
  <header>
    <div class='header-wrap dashboard'>
      <ul class='left-side'>
        <li><a href='/'><%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '133', alt: 'LNDMRK') %></a></li> 
        <li><a class='link-1'>how it works?</a></li>
        <li><a class='link-2'>about</a></li>
        <li><a class='link-3'>learning</a></li>
      </ul>
      <ul class='right-side'>
        <li><a class='notification'></a></li>
        <li>
          <a class='user-image'></a>
        </li>
        <li><a class='user' href='#'>USER@LNDMRK.COM</a></li>
        <li class='logout'><a class='link'>LOGOUT</a></li>
      </ul>
    </div>
  </header>
  <section class='portfolio'>
    <div class='container'>
      <div class='title-wrapper'>
        <div class='title'>portfolio management</div>
      </div>
      <div class='management-wrapper'>
        <div class='total'>
          <div class='left'>
            <div class='top'>
              <div class='equity'>
                <div class='currency'>$15,893</div>
                <div class='text'>equity</div>
              </div>
              <div class='plus'>+</div>
              <div class='debt'>
                <div class='currency'>$13,678</div>
                <div class='text'>debt</div>
              </div>
              <div class='equals'>=</div>
            </div>
            <div class='bottom'>
              <div class='suitecase'></div>
              <div class='total-portfolio'>
                <div class='currency'>$67,901</div>
                <div class='text'>total portfolio value</div>
              </div>
            </div>
          </div>
          <div class='right'>
            <div class='title'>total portfolio</div>
            <div class='graph-container'>
              <div class='graph-wrap' id='income'>
                <div class='graph'>
                  <div class='top'>40%</div>
                  <div class='bottom'>60%</div>
                </div>
                <div class='info'>
                  <div class='name'>income</div>
                  <div class='currency'>$35,309</div>
                </div>
              </div>
              <div class='graph-wrap' id='growth'>
                <div class='graph'>
                  <div class='bottom'>100%</div>
                </div>
                <div class='info'>
                  <div class='name'>growth</div>
                  <div class='currency'>$2,444</div>
                </div>
              </div>
              <div class='graph-wrap' id='income-growth'>
                <div class='graph'>
                  <div class='top'>19%</div>
                  <div class='bottom'>81%</div>
                </div>
                <div class='info'>
                  <div class='name'>income & growth</div>
                  <div class='currency'>$8148</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='small total-gains '>
          <div class='title-small'>total gains</div>
          <div class='graph'>
            <p class='text'>$13,567</p>
            <div class='lable-top'>
              <div class='title'>unrealized</div>
              <div class='currency'>$5,348</div>
            </div>
            <div class='lable-bottom'>
              <div class='title'>realized</div>
              <div class='currency'>$7,234</div>
            </div>  
          </div>
        </div>
        <div class='small yield '>
          <div class='title-small'>yield</div>
          <div class='graph'>
            <p class='text'>9%</p>
            <div class='lable-top'>
              <div class='title'>growth</div>
            </div>
            <div class='lable-bottom'>
              <div class='title'>income</div>
            </div>
          </div>
        </div>
        <div class='small monthly-income '>
          <div class='title-small'>monthly income</div>
          <div class='subtitle'> prediction </div>
        </div>
        <div class='analyzing-tool'>
          <div class='title-small'>analyzing tool</div>
          
          <div class='people-container'>
            <div ng-repeat='person in analyzingToolData track by $index'
                 class='person-wrap'>
              <div class='img' id='image-{{person.id}}'></div>
              <div class='name'>{{person.name}}</div>
              <div class='data-wrap'>
                <div class='data'>
                  <div class='title'>return</div>
                  <div class='return'>{{person.return}}%</div>
                </div>
                <div class='data'>
                  <div class='title'>risk</div>                  
                  <div class='risk' id='risk-{{person.risk}}'>{{person.risk}}</div>
                </div>                
              </div>
              <div class='value'>${{person.value}}</div>
            </div>
          </div>
          <div class='graphs-container'>
            <div class='graph1'>

            </div>
            <div class='graph2'><div class='text'>$5,679</div></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='myproperties'>
    <div class='container'>
      <div class='line'></div>
      <div class='title'>my properties</div>

      <div class='properties-table'>
        <div class='headers-wrap'>
          <div class='header placeholder'></div>
          <div class='header price' style='width: 11%'>avarage price from m²</div>
          <div class='header owned' style='width: 10%'>m² owned</div>
          <div class='header value'>total ownership value</div>
          <div class='header yield' style='width: 10%'>estimated yield</div>
          <div class='header rating' style='width: 7%'>rating</div>
          <div class='header income' style='width: 15%'>current monthly income</div>
          <div class='header debt' style='width: 10%'>debt to value</div>
          <div class='header gains' style='width: 14%'>gains from initial investment</div>
        </div>
        <div class='data-wrapper' 
             ng-repeat='property in data track by $index'
             ng-click='toggleExpanded(property)'>
          <div class='row-data'>
            <div class='data name' ng-class='property.class'>{{property.name}}</div>
            <div class='data price' style='width: 11%'>{{ calcAvarage('price', property.assets) | currency }}</div>
            <div class='data owned' style='width: 10%'>{{ sumProperty('owned', property.assets) }}</div>
            <div class='data value'>{{ sumProperty('value', property.assets) | currency}}</div>
            <div class='data yield' style='width: 10%'>{{ sumProperty('yield', property.assets) }}%</div>
            <div class='data rating' style='width: 7%'>A4-C1</div>
            <div class='data income' style='width: 15%'>{{ sumProperty('income', property.assets) }}</div>
            <div class='data debt' style='width: 10%'>50% / $9,356</div>
            <div class='data gains' style='width: 14%'>{{ calcAvarage('gains', property.assets) | currency }}</div>
          </div>
          <div class='expanded-data-wrap' ng-show='expanded.id === property.id'>
            <div class='expanded-row-data' ng-repeat='asset in property.assets'>
              <div class='expanded-data name' ng-class='property.class'>{{asset.name}}</div>
              <div class='expanded-data' style='width: 11%'>{{asset.price | currency }}</div>
              <div class='expanded-data' style='width: 10%'>{{asset.owned}}</div>
              <div class='expanded-data'>{{asset.value | currency }}</div>
              <div class='expanded-data' style='width: 10%'>{{asset.yield}}%</div>
              <div class='expanded-data' style='width: 7%'>{{asset.rating}}</div>
              <div class='expanded-data' style='width: 15%'>{{asset.income | currency }}</div>
              <div class='expanded-data' style='width: 10%'>{{asset.debt | currency }}</div>
              <div class='expanded-data' style='width: 14%'>{{asset.gains | currency }}</div>
            </div>
          </div>
        </div>
        <div class='row-data sum'>
          <div class='data name'>sum</div>
            <div class='data' style='width: 11%'>{{sumAll('price') | currency }}</div>
            <div class='data' style='width: 10%'>{{sumAll('owned')}}</div>
            <div class='data'>{{sumAll('value') | currency}}</div>
            <div class='data' style='width: 10%'>{{sumAll('yield')}}%</div>
            <div class='data' style='width: 7%'>A4-C1</div>
            <div class='data' style='width: 15%'>{{sumAll('income')}}</div>
            <div class='data' style='width: 10%'>50% / $9,356</div>
            <div class='data' style='width: 14%'>{{sumAll('gains') | currency}}</div>  
        </div>
      </div>
    </div>
  </section>
</div>