<div ng-controller='DashboardController' ng-init='init()' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
  <header>
    <div class='header-wrap'>
      <ul class='left-side'>
        <li><a href='/#/'><%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '133', alt: 'LNDMRK') %></a></li> 
        <li><a class='link-1' translate>how_it_works</a></li>
        <li><a class='link-2' translate>about</a></li>
        <li><a class='link-3' translate>learning</a></li>
      </ul>
      <ul class='right-side'>
        <li ng-click='toggleLocalization("en")'><a class='link-4' ng-class='{"on": localizationSrv.locale === "en"}'>EN</a></li>
        <span class='v-strip'>|</span>
        <li ng-click='toggleLocalization("he")'><a class='link-5' ng-class='{"on": localizationSrv.locale === "he"}'>HE</a></li>
        <li><a class='link-6' href='/#/search' translate>mobile_home_search</a></li>      
        <li><a class='notification'></a></li>
        <li><a class='user-image'></a></li>
        <li><a class='user'>LNDMRK User</a></li>
        <li class='logout'><a class='link' href='/#/' translate>logout</a></li>
      </ul>
    </div>
  </header>

  <section class='portfolio'>
    <div class='container'>
      <div class='title-wrapper'>
        <div class='title' translate>portfolio_management</div>
      </div>
      <div class='management-wrapper'>
        <div class='total'>
          <div class='left'>
            <div class='top'>
              <div class='equity'>
                <div class='currency'>$15,893</div>
                <div class='text' translate>equity</div>
              </div>
              <div class='plus'>+</div>
              <div class='debt'>
                <div class='currency'>$13,678</div>
                <div class='text' translate>debt</div>
              </div>
              <div class='equals'>=</div>
            </div>
            <div class='bottom'>
              <div class='suitecase'></div>
              <div class='total-portfolio'>
                <div class='currency'>$67,901</div>
                <div class='text' translate>total_portfolio_value</div>
              </div>
            </div>
          </div>
          <div class='right'>
            <div class='right-dara-wrap'>
              <div class='title' translate>total_portfolio</div>
                <div class='graph-container'>
                  <div class='graph-wrap' id='income'>
                    <div class='graph'>
                      <div class='top'>40%</div>
                      <div class='bottom'>60%</div>
                    </div>
                    <div class='info'>
                      <div class='name' translate>max_dividends</div>
                      <div class='currency'>$35,309</div>
                    </div>
                  </div>
                  <div class='graph-wrap' id='growth'>
                    <div class='graph'>
                      <div class='bottom'>100%</div>
                    </div>
                    <div class='info'>
                      <div class='name' translate>max_appreciation</div>
                      <div class='currency'>$2,444</div>
                    </div>
                  </div>
                  <div class='graph-wrap' id='income-growth'>
                    <div class='graph'>
                      <div class='top'>19%</div>
                      <div class='bottom'>81%</div>
                    </div>
                    <div class='info'>
                      <div class='name' translate>max_dividends_appreciation</div>
                      <div class='currency'>$8148</div>
                    </div>
                  </div> 
                </div>
              </div>
          </div>
        </div>
        <div class='right-wide-colum'>
          <div class='top-row'>
            <div class='small total-gains '>
              <div class='title-small' translate>total_gains</div>
              <div class='graph'>
                <p class='text'>$13,567</p>
                <div class='lable-top'>
                  <div class='title' translate>unrealized</div>
                  <div class='currency'>$5,348</div>
                </div>
                <div class='lable-bottom'>
                  <div class='title' translate>realized</div>
                  <div class='currency'>$7,234</div>
                </div>  
              </div>
            </div>
            <div class='small yield '>
              <div class='title-small' translate>yield</div>
              <div class='graph'>
                <p class='text'>9%</p>
                <div class='lable-top'>
                  <div class='title' translate>max_appreciation</div>
                </div>
                <div class='lable-bottom'>
                  <div class='title' translate>max_dividends</div>
                </div>
              </div>
            </div>
            <div class='small monthly-income '>
              <div class='title-small' translate>monthly_income</div>
              <div class='subtitle' translate> prediction </div>
              <div class='graph'></div>
            </div>
          </div>
          <div class='bottom-row'>
            <div class='analyzing-tool'>
              <div class='title-small' translate>analyzing_tool</div>
              
              <div class='content-row'>
                <div class='people-container'>
                  <div ng-repeat='person in analyzingToolData track by $index'
                      class='person-wrap'>
                    <div class='img' id='image-{{person.id}}'></div>
                    <div class='name' translate>{{person.name.replace(' ', '_')}}</div>
                    <div class='data-wrap'>
                      <div class='data'>
                        <div class='title' translate>return</div>
                        <div class='return'>{{person.return}}%</div>
                      </div>
                      <div class='divider'></div>
                      <div class='data'>
                        <div class='title' translate>risk</div>                  
                        <div class='risk' id='risk-{{person.risk}}'>{{person.risk}}</div>
                      </div>                
                    </div>
                    <div class='value'>${{person.value}}</div>
                  </div>
                </div>
                <div class='graphs-container'>
                  <div class='graph1'></div>
                  <div class='graph2'><div class='text'>$5,679</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='myproperties owned'>
    <div class='container owned'>
      <div class='line'></div>
      <div class='title' translate>my_properties</div>
      <div class='properties-table owned'>
        <div class='headers-wrap'>
          <div class='header placeholder'></div>
          <div class='header price' style='width: 11.1%' translate>avarage_price_m</div>
          <div class='header owned' style='width: 11.1%' translate>m_owned</div>
          <div class='header value' style='width: 11.1%' translate>total_ownership_value</div>
          <div class='header yield' style='width: 11.1%' translate>estimated_yield</div>
          <div class='header rating' style='width: 11.1%' translate>rating</div>
          <div class='header income' style='width: 11.1%' translate>current_monthly_income</div>
          <div class='header debt' style='width: 11.1%' translate>debt_to_value</div>
          <div class='header gains' style='width: 11.1%' translate>gains_from_initial_investment</div>
        </div>
        <div class='data-wrapper' ng-repeat='property in owned_data track by $index'>
          <div class='row-data' ng-click='toggleExpanded(property)'
               ng-class='{"empty-row": !property.assets || property.assets.length === 0}'>
            <div class='data name' ng-class='property.class' translate>{{property.name}}</div>
            <div class='data price' style='width: 11.1%'>{{ calcAvarage('price', property.assets) }}</div>
            <div class='data owned' style='width: 11.1%'>{{ sumProperty('value', property.assets) | currency}}</div>
            <div class='data value'>{{ sumProperty('value', property.assets) | currency}}</div>
            <div class='data yield' style='width: 11.1%'>{{ calcAvarage('yield', property.assets) }}%</div>
            <div class='data rating' style='width: 11.1%'>{{ maxRating(property.assets) }}</div>
            <div class='data income' style='width: 11.1%'>{{ sumProperty('income', property.assets) | currency }}</div>
            <div class='data debt' style='width: 11.1%'>50% / $9,356</div>
            <div class='data gains' style='width: 11.1%'>{{ sumProperty('gains', property.assets) | currency }}</div>
          </div>
          <div class='expanded-data-wrap' 
               ng-if='property.assets && property.assets.length > 0'
               ng-show='expanded.id === property.id'>
            <div class='expanded-row-data' ng-repeat='asset in property.assets' ng-click='selectAsset(asset)'>
              <div class='expanded-data name' ng-class='property.class' title='{{asset.name}}'>{{assetNameByLocale(asset)}}</div>
              <div class='expanded-data' style='width: 11.1%'>{{asset.price }}</div>
              <div class='expanded-data' style='width: 11.1%'>{{asset.value | currency }}</div>
              <div class='expanded-data' style='width: 11.1%'>{{asset.value | currency }}</div>
              <div class='expanded-data' style='width: 11.1%'>{{asset.yield}}%</div>
              <div class='expanded-data' style='width: 11.1%'>{{asset.rating}}</div>
              <div class='expanded-data' style='width: 11.1%'>{{asset.income | currency }}</div>
              <div class='expanded-data' style='width: 11.1%'>{{asset.debt | currency }}</div>
              <div class='expanded-data' style='width: 11.1%'>{{asset.gains | currency }}</div>
            </div>
          </div>
        </div>
        <div class='row-data sum' ng-class='{"empty-row": !property.assets || property.assets.length === 0}'>
          <div class='data name' translate>sum</div>
          <div class='data' style='width: 11.1%'>{{sumAll('price') }}</div>
          <div class='data' style='width: 11.1%'>{{sumAll('value') | currency}}</div>
          <div class='data' style='width: 11.1%'>{{sumAll('value') | currency}}</div>
          <div class='data' style='width: 11.1%'>{{sumAll('yield')}}%</div>
          <div class='data' style='width: 11.1%'>A+</div>
          <div class='data' style='width: 11.1%'>{{sumAll('income') | currency}}</div>
          <div class='data' style='width: 11.1%'>50% / $9,356</div>
          <div class='data' style='width: 11.1%'>{{sumAll('gains') | currency}}</div>  
        </div>
      </div>
    </div>
  </section>

  <section class='myproperties'>
    <div class='container'>
      <div class='line'></div>
      <div class='title' translate>my_watch_list</div>
      <div class='properties-table' ng-if='watched_data && watched_data.length > 0'>
        <div class='headers-wrap my-watchlist' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
          <div class='header price'  style='width: 10.33%' translate>avarage_price_m</div>
          <div class='header yield'  style='width: 7.89%' translate>estimated_yield</div>
          <div class='header rating' style='width: 6.74%' translate>rating</div>
          <div class='header income' style='width: 12.89%' translate>current_monthly_income</div>
          <div class='header debt'   style='width: 11.01%' translate>debt_to_value</div>
          <div class='header placeholder' style='width: 6.5%'></div>
        </div>
        <div class='data-wrapper my-watchlist' 
              ng-repeat='asset in watched_data track by $index'>
          <div class='remove-wrapper' ng-click='removeFromWatchlist(asset.id)'>
            <div class='remove-from-watchlist'></div>
          </div>
          <div class='row-data my-watchlist' ng-click='selectAsset(asset)'>
            <div class='data type' style='width: 0.6%' ng-class='asset.investment_type'></div>
            <div class='data name' style='width: 11.66%'>{{assetNameByLocale(asset)}}</div>
            <div class='partition'></div>
            <div class='data address'  style='width: 31.71%'>{{asset.address}}</div>
            <div class='partition'></div>
            <div class='data price'    style='width: 10.33%'>{{asset.price | currency }}</div>
            <div class='data yield'    style='width: 7.89%'>{{asset.yield}}%</div>
            <div class='data rating'   style='width: 6.74%'>{{asset.rating}}</div>
            <div class='data income'   style='width: 12.89%'>{{asset.income | currency }}</div>
            <div class='data debt'     style='width: 11.01%'>{{asset.debt}}%/{{asset.value | currency }}</div>
            <div class='data details'  style='width: 5.55%'
                  ng-mouseenter="hover_over_asset[$index]=true"
                  ng-mouseleave="hover_over_asset[$index]=false">
              <div ng-if='hover_over_asset[$index]' class='details-bubble'
                    ng-class='{"hebrew": localizationSrv.locale === "he", "from-top": calc_bottom($index)}'
                    translate>short_lorem_ipsum</div>
            </div>
            <a class='goto-asset-page' style='width: 1.62%' href='/#/' ng-class='{"hebrew": localizationSrv.locale === "he"}'></a>
          </div>
        </div>
      </div>
      <div class='properties-missing' ng-if='!watched_data || watched_data.length === 0'>
        <p>Currently there are no properties in your watchlist. to search for properties <a href='/#/search'>click here</a></p>
      </div>
    </div>
  </section>
</div>