<div ng-controller='MainController' >

<header>
  <div class='header-wrap'>
  <div class='left-side'>
    <a href='#'><img class='header-logo' width='140' alt='home page'></a>
    <a>how it works?</a>
    <a>about</a>
    <a>learning</a>
  </div>
  <div class='right-side'>
    <a>login</a>
    <a>invest</a>
  </div>
  </div>
</header>

<section class='hero-map'>
  
</section>

<section class='projects-carousel'>
  
</section>

<section class='how-it-works'>
  <div class="container">
    
  </div>
</section>

<section class='statistics'>
  <div class="container">
    
  </div>
</section>

<section class='our-story'>
  <div class="container">
    
  </div>
</section>

<section class='leadership'>
  <div class="container">
    
  </div>
</section>

<section class='partners'>
  <div class="container">
    
  </div>
</section>

<footer>
  <div class="container"></div>
</footer>

</div>
