<div ng-controller='MainController' >

<header>
  <div class='header-wrap'>
  <ul class='left-side'>
  <!--<img class='header-logo' width='140' alt='home page' src='lndmrk_logo.png'>-->
    <li><a href='#'><%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '140', alt: 'LNDMRK') %></a></li> 
    <li class='link'><a>how it works?</a></li>
    <li class='link'><a>about</a></li>
    <li class='link'><a>learning</a></li>
  </ul>
  <ul class='right-side'>
    <li><a>login</a></li>
    <li class='invest-wrap'><a class='invest'>invest</a></li>
  </ul>
  </div>
</header>

<section class='hero-map'>
  <div class='hero-map-container'>
    <h1 class='title'>invest any amount in any property. worldwide.</h1>
    <div class='filters-container'>
      <div class='filter income'>income</div>
      <div class='filter growth'>growth</div>
      <div class='filter income-growth'>income & growth</div>
    </div>
    <div class='search-container'>
      <input type="text" class='search' placeholder='Search address, city, state.'>
    </div>
    <div class='search-info'>
      <h1 class='title'>search</h1>
      <h6 class='subtitle'>or <br> click on the map</h6>
      <div id='diamond'></div>
      <div id='line'> </div>
    </div>
  </div>
</section>

<section class='projects-carousel'>
  
</section>

<section class='how-it-works'>
  <div class='container'>
    <div class='section-title'></div>
    <div class='row 4-col'></div>
  </div>
</section>

<section class='statistics'>
  <div class='container'>
    
  </div>
</section>

<section class='our-story'>
  <div class='container'>
    <div class='section-title'></div>
    <div class='row 1-col'></div>
    <div class='row 3-col'></div>
  </div>
</section>

<section class='leadership'>
  <div class='container'>
    <div class='section-title'></div>
    <div class='row 3-col'></div>
  </div>
</section>

<section class='partners'>
  <div class='container'>
    <div class='section-title'></div>
    <div class='row 4-col'></div>
  </div>
</section>

<footer>
  <div class='container'>
    <div class='row 3-2-col'></div>
    <div class='row 1-col'></div>
  </div>
</footer>

</div>
