<div ng-controller='MainController' >

<header>
  <div class='header-wrap'>
  <ul class='left-side'>
  <!--<img class='header-logo' width='140' alt='home page' src='lndmrk_logo.png'>-->
    <li><a href='#'><%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '140', alt: 'LNDMRK') %></a></li> 
    <li class='link'><a>how it works?</a></li>
    <li class='link'><a>about</a></li>
    <li class='link'><a>learning</a></li>
  </ul>
  <ul class='right-side'>
    <li><a>login</a></li>
    <li class='invest-wrap'><a class='invest'>invest</a></li>
  </ul>
  </div>
</header>

<section class='hero-map'>
  <div class='hero-map-container'>
    <h1 class='title'>invest any amount in any property. worldwide.</h1>
    <div class='filters-container'>
      <div class='filter income'>income</div>
      <div class='filter growth'>growth</div>
      <div class='filter income-growth'>income & growth</div>
    </div>
    <div class='search-container'>
      <input type="text" class='search' placeholder='Search address, city, state.'>
    </div>
    <div class='search-info'>
      <h1 class='title'>search</h1>
      <h6 class='subtitle'>or <br> click on the map</h6>
      <div id='diamond'></div>
      <div id='line'> </div>
    </div>
  </div>
</section>

<section class='assets-carousel'>

  <div width='19' alt='next assets' class='carousel-arrow-l' ng-click='prevAsset()'
       ng-class='isFirst() ? "greyed" : ""'></div>

  <div width='19' alt='next assets' class='carousel-arrow-r' ng-click='nextAsset()'
       ng-class='isLast() ? "greyed" : ""'></div>

  <div class='carousel-show' id='list-outer'>
    <div class='carousel-outer-wrap' id='list-inner' ng-style='calcedWidth'>

      <div class='carousel-inner-wrap'>
        <carousel-assets  ng-repeat='asset in assets'
                          asset='asset'
                          pagination='pagination'
                          id='myCarousel'
                          ng-click='toggleObject($index)'
                          ng-class='{ chosen: chosenAsset === asset }'></carousel-assets>
      </div>
    </div>
  </div>

</section>

<section class='how-it-works'>
  <div class='container'>
    <div class='section-title'></div>
    <div class='row col-4'></div>
  </div>
</section>

<section class='statistics'>
  <div class='container'>
    
  </div>
</section>

<section class='our-story'>
  <div class='container'>
    <div class='section-title'></div>
    <div class='row col-1'></div>
    <div class='row col-3'></div>
  </div>
</section>

<section class='leadership'>
  <div class='container'>
    <div class='section-title'></div>
    <div class='row col-3'></div>
  </div>
</section>

<section class='partners'>
  <div class='container'>
    <div class='section-title'></div>
    <div class='row col-4'></div>
  </div>
</section>

<footer>
  <div class='container'>

    <div class='left'>
      <div class='links-container'>
        <ul class='column'>
          <li class='link'><a href="#">aaaaaaaaaaa</a></li>
          <li class='link'><a href="#">bbbbbbbbbbb</a></li>
          <li class='link'><a href="#">ddddddddddd</a></li>
          <li class='link'><a href="#">eeeeeeeeeee</a></li>
          <li class='link'><a href="#">fffffffffff</a></li>
          <li class='link'><a href="#">ggggggggggg</a></li>
        </ul>
        <ul class='column'>
          <li class='link'><a href="#">hhhhhhhhhhh</a></li>
          <li class='link'><a href="#">iiiiiiiiiii</a></li>
          <li class='link'><a href="#">jjjjjjjjjjj</a></li>
          <li class='link'><a href="#">kkkkkkkkkkk</a></li>
          <li class='link'><a href="#">lllllllllll</a></li>
          <li class='link'><a href="#">mmmmmmmmmmm</a></li>
        </ul>
        <ul class='column'>
          <li class='link'><a href="#">ooooooooooo</a></li>
          <li class='link'><a href="#">ppppppppppp</a></li>
          <li class='link'><a href="#">qqqqqqqqqqq</a></li>
          <li class='link'><a href="#">rrrrrrrrrrr</a></li>
          <li class='link'><a href="#">ssssssssssss</a></li>
          <li class='link'><a href="#">tttttttttttt</a></li>
        </ul>
      </div>
    </div>
    <div class='right'>
      <div class='contact'>
        <div class='contact-info'>contact@lndmrk.com</div>
        <div class='contact-info'>122 Jmhh St.</div>
        <div class='contact-info'>+972-578687678</div>
        <div class='contact-info'>Ffnsdnn, Israel</div>
      </div>
      <div class='social'>
        <div class='social-item facebook'></div>
        <div class='social-item twitter'></div>
        <div class='social-item linkdin'></div>
        <div class='social-item mail'></div>
      </div>
    </div>
    <div class='buttom'>
      <p class='paragraph'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum, justo sit amet rutrum vulputate, mi justo scelerisque libero, sit amet venenatis ex diam id risus. Phasellus placerat imperdiet arcu, molestie mollis ante volutpat vel. Donec eu felis augue. Suspendisse dapibus commodo efficitur. Etiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus eu vel elit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum, justo sit amet rutrum vulputate, mi justo scelerisque libero, sit amet venenatis ex diam id risus. Phasellus placerat imperdiet arcu, molestie mollis ante volutpat vel. Donec eu felis augue. Suspendisse dapibus commodo efficitur. Etiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus eu vel elit.
        tiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus
        tiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus tiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursustiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus
      </p>
    </div>
  </div>
</footer>

</div>
