<div ng-controller='MainController' >

<header>
  <div class='header-wrap'>
  <ul class='left-side'>
    <li><a href='#'><img class='header-logo' width='140' alt='home page'></a></li>
    <li><a>how it works?</a></li>
    <li><a>about</a></li>
    <li><a>learning</a></li>
  </ul>
  <ul class='right-side'>
    <li><a>login</a></li>
    <li><a>invest</a></li>
  </ul>
  </div>
</header>

<section class='hero-map'>
  
</section>

<section class='projects-carousel'>
  
</section>

<section class='how-it-works'>
  <div class='container'>
    <div class='section-title'></div>
    <div class='row 4-col'></div>
  </div>
</section>

<section class='statistics'>
  <div class='container'>
    
  </div>
</section>

<section class='our-story'>
  <div class='container'>
    <div class='section-title'></div>
    <div class='row 1-col'></div>
    <div class='row 3-col'></div>
  </div>
</section>

<section class='leadership'>
  <div class='container'>
    <div class='section-title'></div>
    <div class='row 3-col'></div>
  </div>
</section>

<section class='partners'>
  <div class='container'>
    <div class='section-title'></div>
    <div class='row 4-col'></div>
  </div>
</section>

<footer>
  <div class='container'>
    <div class='row 3-2-col'></div>
    <div class='row 1-col'></div>
  </div>
</footer>

</div>
