<div ng-controller='MainController' ng-init='init()'>

<section class='background-homepage'>
  <div class='map-image'></div>
</section>

<header>
  <div class='header-wrap'>
  <ul class='left-side'>
  <!--<img class='header-logo' width='140' alt='home page' src='lndmrk_logo.png'>-->
    <li><a href='#'><%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '133', alt: 'LNDMRK') %></a></li> 
    <li><a class='link-1'>how it works?</a></li>
    <li><a class='link-2'>about</a></li>
    <li><a class='link-3'>learning</a></li>
  </ul>
  <ul class='right-side'>
    <li><a class='link-4'>EN</a></li>
    <span class='v-strip'>|</span>
    <li><a class='link-5'>HEB</a></li>
    <li><a class='link-6'>login</a></li>
    <li class='invest-wrap'><a class='invest'>invest</a></li>
  </ul>
  </div>
</header>

<section class='hero-map'>
  <h1 class='title'>invest any amount in any property. worldwide.</h1>
  <div class='hero-map-container'>
    <div class='filters-container'>
      <div class='filter income'>income</div>
      <div class='filter growth'>growth</div>
      <div class='filter income-growth'>income & growth</div>
    </div>
    <div class='search-container'>
      <input type="text" class='search' placeholder='Search address, city, state.'>
    </div>
    <div class='search-info'>
      <h1 class='search-button'>search</h1>
      <!-- <h6 class='subtitle'>or <br> click on the map</h6>
      <div id='diamond'></div>
      <div id='line'> </div> -->
    </div>
  </div>
</section>

<section-carousel class='carousel-directive' assets='assets' pagination='pagination'></section-carousel>

<section class='how-it-works'>
  <div class='container'>
    <div class='line'></div>
    <div class='title'>how it works</div>
    <div class='row-wrap'>
      <div class='info'>
        <div class='image search'></div>
        <div class='info-title'>search properties</div>
        <div class='text'>
          <p>
            Evaluate and compare properties' <br>
            risk and return
          </p>
          <div id='diamond'></div>
          <p>
            Place unsolicited bids on any <br>
            property in the world
          </p>
        </div>
      </div>
      <div class='info'>
        <div class='image invest'></div>
        <div class='info-title'>invest</div>
        <div class='text'>
          <p>Set bid price</p>
          <div id='diamond'></div>
          <p>Find slimie properties</p>
          <div id='diamond'></div>
          <p>Balance and customize you portfolio</p>        
        </div>
      </div>
      <div class='info'>
        <div class='image recieve'></div>
        <div class='info-title'>receive income</div>
        <div class='text'>
          <p>Direct deposit into your bank <br> account</p>
          <div id='diamond'></div>
          <p>Get SMS notifications on deposits</p>
          <div id='diamond'></div>
          <p>Vote on investors' representatives</p>        
        </div>
      </div>
      <div class='info exit'>
        <div class='image exit'></div>
        <div class='info-title'>exit</div>
        <div class='text'>
          <p>Set ask price</p>
          <div id='diamond'></div>
          <p>Get bids</p>     
        </div>
      </div>
    </div>
  </div>
</section>

<section class='statistics'>
  <div class='container'>
    <div class='column'>
      <h3>income distributed</h3>
      <div class='icon distributed'></div>
      <h1>$2,578</h1>
    </div>
    <div class='column'>
      <h3>M&sup2; in lndmrk</h3>
      <div class='pie-area'>
        <div class='pie-image'></div>
        <h2>453M</h2>
        <h4 class='growth'>growth</h4>
        <h4 class='income'>income</h4>
        <h4 class='income-growth'>income & growth</h4>
        <%= image_tag('line.png',class: 'line growth', width: '90', alt: '') %>
        <%= image_tag('line.png',class: 'line income', width: '90', alt: '') %>
        <%= image_tag('line.png',class: 'line income-growth', width: '90', alt: '') %>
      </div>
    </div>
    <div class='column'>
      <h3>average portfolio</h3>
      <div class='icon portfolio'></div>
      <h1>$53,327</h1>
    </div>
  </div>
</section>

<section class='our-story'>
  <div class='container'>
    <div class='line'></div>
    <div class='title'>our story</div>
    <div class='row-text'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum, justo sit amet rutrum vulputate, mi justo scelerisque libero, sit amet venenatis ex diam id risus. Phasellus placerat imperdiet arcu, molestie mollis ante volutpat vel. Donec eu felis augue. Suspendisse dapibus commodo efficitur. Etiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus eu vel elit.
    </div>
    <h2>what the press is saying</h2>
    <ul class='row col-3'>
      <li class='press-article'>
        <div class='speech-box'>
        <p>"LNDMRK has a history of making it easier for ordinary investors to put money to work.</p>
        <h5>oct 22, 2016</h5>
        </div>
        <div class='paper-name tech-crunch'></div>
      </li>
      <li class='press-article'>
        <div class='speech-box capitalize'>
        <p>"LNDMRK is a pioneer in real estate crowdfunding, allowing individuals to directly invest in hotels, apartment buildings and other development projects</p>
        <h5>nov 1, 2016</h5>
        </div>
        <div class='paper-name forbes'></div>
      </li>
      <li class='press-article'>
        <div class='speech-box'>
        <p>"What really sets LNDMRK apart is that it backs each and every deal itself.  The quality hasn't gone unnoticed: one of Fundrise's last deals sold out in 20 minutes.</p>
        <h5>sep 7, 2016</h5>
        </div>
        <div class='paper-name the-ny-times'></div>
      </li>
    </ul>
  </div>
</section>

<section class='leadership'>
  <div class='container'>
    <div class='line'></div>
    <div class='title'>leadership</div>
    <ul class='row col-3'>
      <li class='leader'>
        <div class='image-01'></div>
        <div class='name'>
          <h2>donald fisher</h2>
          <h3>chairman of the board</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-02'></div>
        <div class='name'>
          <h2>caleb rodriquez</h2>
          <h3>board member</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-03'></div>
        <div class='name'>
          <h2>jerome willis</h2>
          <h3>board member</h3>
        </div>
      </li>

      <li class='leader'>
        <div class='image-04'></div>
        <div class='name'>
          <h2>greg stephens</h2>
          <h3>CEO</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-05'></div>
        <div class='name'>
          <h2>margie hill</h2>
          <h3>board member</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-06'></div>
        <div class='name'>
          <h2>julio cook</h2>
          <h3>board member</h3>
        </div>
      </li>

      <li class='leader'>
        <div class='image-07'></div>
        <div class='name'>
          <h2>rene barnett</h2>
          <h3>corporate council</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-08'></div>
        <div class='name'>
          <h2>brendie williamson</h2>
          <h3>board member</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-09'></div>
        <div class='name'>
          <h2>dana perry</h2>
          <h3>board member</h3>
        </div>
      </li>

      <li class='leader'>
        <div class='image-10'></div>
        <div class='name'>
          <h2>nathan wallace</h2>
          <h3>CFO</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-11'></div>
        <div class='name'>
          <h2>juan marshall</h2>
          <h3>board member</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-12'></div>
        <div class='name'>
          <h2>lester coleman</h2>
          <h3>board member</h3>
        </div>
      </li>

    </ul>
  </div>
</section>

<section class='partners'>
  <div class='container'>
    <div class='line'></div>
    <div class='title'>partners</div>
    <div class='partners-container'>
      <div class='partner canada'></div>
      <div class='partner cbre'></div>
      <div class='partner ey'></div>
      <div class='partner deloitte'></div>
      <div class='partner pwc'></div>
      <div class='partner kpmg'></div>
      <div class='partner goldman'></div>
      <div class='partner ubs'></div>
    </div>
  </div>
</section>

<footer>
  <div class='container'>

    <div class='left'>
      <div class='links-container'>
        <ul class='column'>
          <li class='link'><a href="#">aaaaaaaaaaa</a></li>
          <li class='link'><a href="#">bbbbbbbbbbb</a></li>
          <li class='link'><a href="#">ddddddddddd</a></li>
          <li class='link'><a href="#">eeeeeeeeeee</a></li>
          <li class='link'><a href="#">fffffffffff</a></li>
          <li class='link'><a href="#">ggggggggggg</a></li>
        </ul>
        <ul class='column'>
          <li class='link'><a href="#">hhhhhhhhhhh</a></li>
          <li class='link'><a href="#">iiiiiiiiiii</a></li>
          <li class='link'><a href="#">jjjjjjjjjjj</a></li>
          <li class='link'><a href="#">kkkkkkkkkkk</a></li>
          <li class='link'><a href="#">lllllllllll</a></li>
          <li class='link'><a href="#">mmmmmmmmmmm</a></li>
        </ul>
        <ul class='column'>
          <li class='link'><a href="#">ooooooooooo</a></li>
          <li class='link'><a href="#">ppppppppppp</a></li>
          <li class='link'><a href="#">qqqqqqqqqqq</a></li>
          <li class='link'><a href="#">rrrrrrrrrrr</a></li>
          <li class='link'><a href="#">ssssssssssss</a></li>
          <li class='link'><a href="#">tttttttttttt</a></li>
        </ul>
      </div>
    </div>
    <div class='right'>
      <div class='contact'>
        <div class='contact-info'>contact@lndmrk.com</div>
        <div class='contact-info'>122 Jmhh St.</div>
        <div class='contact-info'>+972-578687678</div>
        <div class='contact-info'>Ffnsdnn, Israel</div>
      </div>
      <div class='social'>
        <div class='social-item facebook'></div>
        <div class='social-item twitter'></div>
        <div class='social-item linkdin'></div>
        <div class='social-item mail'></div>
      </div>
    </div>
    <div class='buttom'>
      <p class='paragraph'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum, justo sit amet rutrum vulputate, mi justo scelerisque libero, sit amet venenatis ex diam id risus. Phasellus placerat imperdiet arcu, molestie mollis ante volutpat vel. Donec eu felis augue. Suspendisse dapibus commodo efficitur. Etiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus eu vel elit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum, justo sit amet rutrum vulputate, mi justo scelerisque libero, sit amet venenatis ex diam id risus. Phasellus placerat imperdiet arcu, molestie mollis ante volutpat vel. Donec eu felis augue. Suspendisse dapibus commodo efficitur. Etiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus eu vel elit.
        tiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus
        tiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus tiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursustiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus
      </p>
    </div>
  </div>
</footer>

</div>
