<div ng-controller='PropertyController' ng-class='{"hebrew": localizationSrv.locale === "he"}' class='util-bg-white' ng-init='init()'>
  <header>
    <div class='header-wrap'>
      <ul class='left-side'>
        <li><a href='/#/'><%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '133', alt: 'LNDMRK') %></a></li> 
        <li><a class='link-1' translate>how_it_works</a></li>
        <li><a class='link-2' translate>about</a></li>
        <li><a class='link-3' translate>learning</a></li>
      </ul>
      <ul class='right-side'>
        <li ng-click='toggleLocalization("en")'><a class='link-4' ng-class='{"on": localizationSrv.locale === "en"}'>EN</a></li>
        <span class='v-strip'>|</span>
        <li ng-click='toggleLocalization("he")'><a class='link-5' ng-class='{"on": localizationSrv.locale === "he"}'>HE</a></li>
        <li><a class='link-6' href='/#/search' translate>search</a></li>      
        <li><a class='notification'></a></li>
        <li><a class='user-image'></a></li>
        <li><a class='user'>LNDMRK User</a></li>
        <li class='logout'><a class='link' href='/#/' translate>logout</a></li>
      </ul>
    </div>
  </header>

  <banner-carousel asset='asset' class='section-banner'></banner-carousel>

  <section class='second-row'>
    <div class='container'>
      <div class='property-details' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
        <h1 translate>prop_details</h1>
        <p style='text-align: left; direction: rtl;'>{{asset.description}}</p>
      </div>
      <div class='map-section'>
        <div class='titles'>
          <div class='street-view' ng-click='openStreetview()' ng-class='{"chosen": map_type_visible === "street"}'>google street view</div>
          <div class='location-map' ng-click='openGooglemaps()'
               ng-class='{"chosen": map_type_visible === "map", "hebrew": localizationSrv.locale === "he"}' 
               translate>location_map</div>
        </div>
        <div class='map-image' id='map' ng-init="googleMaps.initSimpleMap(asset)"
             ng-class='{visible: map_type_visible === "map"}'></div>
        <div class='map-image' id='street-map' ng-init="googleMaps.initStreetView(asset)"
             ng-class='{visible: map_type_visible === "street"}'></div>
      </div>
    </div>
  </section>

  <section class='numbers-strip'>
    <div class='container turquoise-strip'>
      <div class='section-title'
           ng-class='getInvTypeClr(asset.investment_type)'>
           <span ng-if='localizationSrv.locale === "en"'>{{asset.investment_type_short}}</span>
           <span ng-if='localizationSrv.locale === "he"'>{{asset.investment_type_short_heb}}</span>
      </div>
      <div class='attributes-wrap' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
        <div class='attribute' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
          <span translate>rank</span>
          <h1 ng-class='getRatingColor(asset.rating)' style='direction: ltr;'>{{asset.rating}}</h1>
        </div>
        <div class='attribute' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
          <span translate>price_per_m</span>
          <h2>${{asset.price * 1000}}</h2>
        </div>
        <div class='attribute' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
          <span translate>income_per_m</span>
          <h2>${{asset.income}}</h2>
        </div>
        <div class='attribute' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
          <span translate>yeild</span>
          <h2>{{asset.yield}}%</h2>
        </div>
        <div class='attribute' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
          <span translate>established_at</span>
          <h2>{{asset.established}}</h2>
        </div>
        <div class='attribute' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
          <span translate>up_to</span>
          <h2>{{asset.ltv}}% <i translate> ltv</i></h2>
        </div>
      </div>
    </div>
  </section>

  <section class='infographics'>
    <div class='line'></div>
    <div class='title' ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>investment_details</div>

    <div class='container'>
      <div class='column lines'>
        <div class='transactions'>
          <h1 translate>last_transactions</h1>
          <div class='transaction-row'>
            <div class='time'><span translate>jul_22</span>, 2016  22:53</div>
            <div class='meter-price'><span translate>m_2</span><span>/$4,345</span></div>
          </div>
          <div class='transaction-row'>
            <div class='time'><span translate>jul_22</span>, 2016  22:03</div>
            <div class='meter-price'><span translate>m_2</span><span>/$4,308</span></div>
          </div>
          <div class='transaction-row'>
            <div class='time'><span translate>jul_22</span>, 2016  21:10</div>
            <div class='meter-price'><span translate>m_2</span><span>/$4,308</span></div>
          </div>
          <div class='transaction-row'>
            <div class='time'><span translate>jul_22</span>, 2016  20:50</div>
            <div class='meter-price'><span translate>m_2</span><span>/$4,285</span></div>
          </div>
          <div class='transaction-history-link' translate>view_full_trans_history</div>
        </div>
        <div class='ranking'>
          <h1 translate>rank</h1>
          <div class='letters-row'>
            <div class='rank'
                 ng-class='getRatingColor(asset.rating)' style='direction: ltr;'>{{asset.rating}}</div>
            <div class='ranks-options'></div>
          </div>
        </div>
        <div class='points'>
          <div class='points-row header'>
            <h2 translate>category</h2>
            <h3 translate>assesment</h3>
            <h4 translate>points</h4>
          </div>

          <div class='points-row'>
            <h2 ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>location</h2>
            <h3>primary</h3>
            <h4>28</h4>
          </div>
          <div class='points-row'>
            <h2 ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>market</h2>
            <h3>top in market</h3>
            <h4>13</h4>
          </div>
          <div class='points-row'>
            <h2 ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>tenants_fin_stability</h2>
            <h3>high</h3>
            <h4>59</h4>
          </div>
          <div class='points-row'>
            <h2 ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>tenants_macro_risk</h2>
            <h3>below gdp risk</h3>
            <h4>27</h4>
          </div>
          <div class='points-row'>
            <h2 ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>lease_contract_len</h2>
            <h3>over 5 years</h3>
            <h4>14</h4>
          </div>
          <div class='points-row'>
            <h2 ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>lease_contract_secur</h2>
            <h3>external guarantors</h3>
            <h4>56</h4>
          </div>
          <div class='points-row'>
            <h2 ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>occupancy_rate</h2>
            <h3>fully developed</h3>
            <h4>57</h4>
          </div>
          <div class='points-row'>
            <h2 ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>market_occupancy_rate</h2>
            <h3>over 98%</h3>
            <h4>53</h4>
          </div>
          <div class='points-row'>
            <h2 ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>development_phase</h2>
            <h3>over 90%</h3>
            <h4>58</h4>
          </div>
        </div>
        <div class='investment-management'>
          <div class='line'></div>
          <div class='title' ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>investment_management</div>
          <div class='invest-row-header' translate>m_owned_2</div>
          <div class='investment-mng-row'>
            <h2 ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>olivia_roberts</h2>
            <h3><span translate>m_2</span>/<span>17%</span></h3>
            <h4 translate>contact</h4>
          </div>
          <div class='investment-mng-row'>
            <h2 ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>marshall_holt</h2>
            <h3><span translate>m_2</span>/<span>8%</span></h3>
            <h4 translate>contact</h4>
          </div>
          <div class='investment-mng-row'>
            <h2 ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>kent_mason</h2>
            <h3><span translate>m_2</span>/<span>12%</span></h3>
            <h4 translate>contact</h4>
          </div>
        </div>
      </div>
      <div class='column maps'>
        <div class='price-graph'>
          <h1 translate>price_per_meter</h1>
          <div class='image'></div>
        </div>
        <div class='event-timeline'>
          <h1 translate>event_timeline</h1>
          <div class='image'></div>
        </div>
        <div class='property-management'>
          <div class='line'></div>
          <div class='title' ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>property_management</div>
          <div class='image'></div>
        </div>
      </div>
    </div>
  </section>

  <section class='friends-who-invested'>
    <div class='container'>
      <div class='property-line'></div>
      <div class='property-title' ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>friends_who_invested</div>
      <ul>
        <li>
          <div class='image place-1'></div>
          <h2 translate>claudia_vargas</h2>
        </li>
        <li>
          <div class='image place-2'></div>
          <h2 translate>scott_hoffman</h2>
        </li>
        <li>
          <div class='image place-3'></div>
          <h2 translate>ivan_porter</h2>
        </li>
        <li>
          <div class='image place-4'></div>
          <h2 translate>scott_torres</h2>
        </li>
        <li>
          <div class='image place-5'></div>
          <h2 translate>dustin_morris</h2>
        </li>
      </ul>
    </div>
  </section>
  
  <section class='property-documents'>
    <div class='container'>
      <div class='property-line'></div>
      <div class='property-title' ng-class='{"hebrew": localizationSrv.locale === "he"}' translate>property_document_rep</div>
      <ul ng-class='{"hebrew": localizationSrv.locale === "he"}'>
        <li ng-class='{"hebrew": localizationSrv.locale === "he"}'>
          <div class='icon' ng-class='{"hebrew": localizationSrv.locale === "he"}'></div>
          <span translate>shareholder_agreement</span>
        </li>
        <li ng-class='{"hebrew": localizationSrv.locale === "he"}'>
          <div class='icon' ng-class='{"hebrew": localizationSrv.locale === "he"}'></div>
          <span translate>management_company</span>
        </li>
        <li ng-class='{"hebrew": localizationSrv.locale === "he"}'>
          <div class='icon' ng-class='{"hebrew": localizationSrv.locale === "he"}'></div>
          <span translate>profit_loss_statement</span>
        </li>
        <li ng-class='{"hebrew": localizationSrv.locale === "he"}'>
          <div class='icon' ng-class='{"hebrew": localizationSrv.locale === "he"}'></div>
          <span translate>underwriting_agreement</span>
        </li>
        <li ng-class='{"hebrew": localizationSrv.locale === "he"}'>
          <div class='icon' ng-class='{"hebrew": localizationSrv.locale === "he"}'></div>
          <span translate>building_deviations</span>
        </li>
      </ul>
    </div>
  </section>

  </div>

  <big-footer></big-footer>