<div ng-controller='PropertyController' ng-class='{"hebrew": localizationSrv.locale === "he"}' class='util-bg-white' ng-init='init()'>
  <header>
    <div class='header-wrap'>
      <ul class='left-side'>
        <li><a href='/#/'><%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '133', alt: 'LNDMRK') %></a></li> 
        <li><a class='link-1' translate>how_it_works</a></li>
        <li><a class='link-2' translate>about</a></li>
        <li><a class='link-3' translate>learning</a></li>
      </ul>
      <ul class='right-side'>
        <li ng-click='toggleLocalization("en")'><a class='link-4' ng-class='{"on": localizationSrv.locale === "en"}'>EN</a></li>
        <span class='v-strip'>|</span>
        <li ng-click='toggleLocalization("he")'><a class='link-5' ng-class='{"on": localizationSrv.locale === "he"}'>HE</a></li>
        <li><a class='notification'></a></li>
        <li><a class='user-image'></a></li>
        <li><a class='user' href='#'>USER@LNDMRK.COM</a></li>
        <li class='logout'><a class='link' href='/#/' translate>logout</a></li>
      </ul>
    </div>
  </header>

  <banner-carousel asset='asset'></banner-carousel>

  <section class='second-row'>
    <div class='container'>
      <div class='property-details'>
        <h1>property details</h1>
        <p>{{asset.description}}</p>
      </div>
      <div class='map-section'>
        <div class='titles'>
          <div class='street-view'>google street view</div>
          <div class='location-map'>location map</div>
        </div>
        <div class='map-image'></div>
      </div>
    </div>
  </section>

  <section class='numbers-strip'>
    <div class='container turquoise-strip'>
      <div class='section-title'
           ng-class='getInvTypeClr(asset.investment_type)'>
           {{asset.investment_type_short}} investment</div>
      <div class='attributes-wrap'>
        <div class='attribute'>
          <span>rank</span>
          <h1 ng-class='getRatingColor(asset.rating)'>{{asset.rating}}</h1>
        </div>
        <div class='attribute'>
          <span>price per m&sup2;</span>
          <h2>${{asset.price * 1000}}</h2>
        </div>
        <div class='attribute'>
          <span>income per m&sup2;</span>
          <h2>${{asset.income}}</h2>
        </div>
        <div class='attribute'>
          <span>yeild</span>
          <h2>{{asset.yield}}%</h2>
        </div>
        <div class='attribute'>
          <span>established at</span>
          <h2>{{asset.established}}%</h2>
        </div>
        <div class='attribute'>
          <span>up to</span>
          <h2>{{asset.ltv}}% <i>ltv</i></h2>
        </div>
      </div>
    </div>
  </section>

  <section class='infographics'>
    <div class='line'></div>
    <div class='title'>investment details</div>

    <div class='container'>
      <div class='column lines'>
        <div class='transactions'>
          <h1>last transactions</h1>
          <div class='transaction-row'>
            <div class='time'>22 jul, 2016  10:53pm</div>
            <div class='meter-price'>17m&sup2;/<span>$4,345</span></div>
          </div>
          <div class='transaction-row'>
            <div class='time'>22 jul, 2016  10:03pm</div>
            <div class='meter-price'>85m&sup2;/<span>$4,308</span></div>
          </div>
          <div class='transaction-row'>
            <div class='time'>22 jul, 2016  9:10pm</div>
            <div class='meter-price'>233m&sup2;/<span>$4,308</span></div>
          </div>
          <div class='transaction-row'>
            <div class='time'>22 jul, 2016  8:50pm</div>
            <div class='meter-price'>123m&sup2;/<span>$4,285</span></div>
          </div>
          <div class='transaction-history-link'>
            view full transaction history on this property
          </div>
        </div>
        <div class='ranking'>
          <h1>rank</h1>
          <div class='letters-row'>
            <div class='rank'
                 ng-class='getRatingColor(asset.rating)'>{{asset.rating}}</div>
            <div class='ranks-options'></div>
          </div>
        </div>
        <div class='points'>
          <div class='points-row header'>
            <h2>category</h2>
            <h3>assesment</h3>
            <h4>points</h4>
          </div>

          <div class='points-row'>
            <h2>location</h2>
            <h3>primary</h3>
            <h4>28</h4>
          </div>
          <div class='points-row'>
            <h2>market</h2>
            <h3>top in market</h3>
            <h4>13</h4>
          </div>
          <div class='points-row'>
            <h2>tenants' financial stability</h2>
            <h3>high</h3>
            <h4>59</h4>
          </div>
          <div class='points-row'>
            <h2>tenants' macro risk</h2>
            <h3>below gdp risk</h3>
            <h4>27</h4>
          </div>
          <div class='points-row'>
            <h2>lease contract length</h2>
            <h3>over 5 years</h3>
            <h4>14</h4>
          </div>
          <div class='points-row'>
            <h2>lease contract securities</h2>
            <h3>external guarantors</h3>
            <h4>56</h4>
          </div>
          <div class='points-row'>
            <h2>occupancy rate</h2>
            <h3>fully developed</h3>
            <h4>57</h4>
          </div>
          <div class='points-row'>
            <h2>market occupancy rate</h2>
            <h3>over 98%</h3>
            <h4>53</h4>
          </div>
          <div class='points-row'>
            <h2>development phase</h2>
            <h3>over 90%</h3>
            <h4>58</h4>
          </div>
        </div>
        <div class='investment-management'>
          <div class='line'></div>
          <div class='title'>investment management</div>
          <div class='invest-row-header'>m&sup2; owned/%</div>
          <div class='investment-mng-row'>
            <h2>olivia roberts</h2>
            <h3>2,341m&sup2;/<span>17%</span></h3>
            <h4>contact</h4>
          </div>
          <div class='investment-mng-row'>
            <h2>marshall holt</h2>
            <h3>1,267m&sup2;/<span>8%</span></h3>
            <h4>contact</h4>
          </div>
          <div class='investment-mng-row'>
            <h2>kent mason</h2>
            <h3>1,690m&sup2;/<span>12%</span></h3>
            <h4>contact</h4>
          </div>
        </div>
      </div>
      <div class='column maps'>
        <div class='price-graph'>
          <h1>price per meter</h1>
          <div class='image'></div>
        </div>
        <div class='event-timeline'>
          <h1>event timeline</h1>
          <div class='image'></div>
        </div>
        <div class='property-management'>
          <div class='line'></div>
          <div class='title'>property management</div>
          <div class='image'></div>
        </div>
      </div>
    </div>
  </section>

  <section class='friends-who-invested'>
    <div class='container'>
      <div class='property-line'></div>
      <div class='property-title'>friends who invested in this property</div>
      <ul>
        <li>
          <div class='image place-1'></div>
          <h2>claudia vargas</h2>
        </li>
        <li>
          <div class='image place-2'></div>
          <h2>scott hoffman</h2>
        </li>
        <li>
          <div class='image place-3'></div>
          <h2>ivan porter</h2>
        </li>
        <li>
          <div class='image place-4'></div>
          <h2>scott torres</h2>
        </li>
        <li>
          <div class='image place-5'></div>
          <h2>dustin morris</h2>
        </li>
      </ul>
    </div>
  </section>
  
  <section class='property-documents'>
    <div class='container'>
      <div class='property-line'></div>
      <div class='property-title'>property document repository</div>
      <ul>
        <li><div class='icon'></div><span>shareholder agreement</span></li>
        <li><div class='icon'></div><span>management company</span></li>
        <li><div class='icon'></div><span>profit and loss statement</span></li>
        <li><div class='icon'></div><span>underwriting agreement</span></li>
        <li><div class='icon'></div><span>building deviations</span></li>
      </ul>
    </div>
  </section>

  </div>

  <big-footer></big-footer>