<div ng-controller='SearchController' ng-init='init()' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
  <header>
    <div class='header-wrap dashboard'>
      <ul class='left-side'>
        <li><a href='#/'><%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '133', alt: 'LNDMRK') %></a></li> 
        <li><a class='link-1' translate>how_it_works</a></li>
        <li><a class='link-2' translate>about</a></li>
        <li><a class='link-3' translate>learning</a></li>
      </ul>
      <ul class='right-side'>
        <li><a class='notification'></a></li>
        <li>
          <a class='user-image'></a>
        </li>
        <li><a class='user' href='#'>USER@LNDMRK.COM</a></li>
        <li class='logout'><a class='link' translate>logout</a></li>
      </ul>
    </div>
  </header>
  <section class="main-wrapper">
    <div class="data-container">
      <div class="left-panel-wrapper">
        <div class="search-top-panel-container">
          <div class="top-panel-search-properties">
            <div class="top-panel-search-properties-container">
              <div class="top-panel-section-title search">SEARCH PROPERTIES</div>
              <div class="properties-buttons-wrapper">
                <div class="properties-button left">INCOME</div>
                <div class="properties-button middle">GROWTH</div>
                <div class="properties-button right">INCOME & GROWTH</div>
              </div>
              <input type="text" class="search-input">
            </div>
          </div>
          <div class="separate-line"></div>
          <div class="top-panel-market-type">
            <div class="top-panel-market-type-container">
              <div class="top-panel-section-title market">MARKET TYPE</div>
              <div class="market-type-checkbox-wrapper" ng-repeat="market_type_checkbox in market_type_checkboxes">
                <div class="market-type-checkbox-container">
                  <div class="search-checkbox" ng-click="market_type_checkbox.checked = !market_type_checkbox.checked">
                    <span ng-show="market_type_checkbox.checked"><i class="fa fa-check"></i></span>
                  </div>
                  <span class="search-checkbox-text" ng-click="market_type_checkbox.checked = !market_type_checkbox.checked">{{market_type_checkbox.name}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="separate-line"></div>
          <div class="top-panel-property-type">
            <div class="top-panel-market-type-container">
              <div class="top-panel-section-title property">PROPERTY TYPE</div>
              <div class="propery-type-checkbox-wrapper">
                <div class="propery-type-checkbox-container" ng-repeat="property_type_checkbox in property_type_checkboxes">
                  <div class="search-checkbox" ng-click="property_type_checkbox.checked = !property_type_checkbox.checked">
                    <span ng-show="property_type_checkbox.checked"><i class="fa fa-check"></i></span>
                  </div>
                  <span class="search-checkbox-text" ng-click="property_type_checkbox.checked = !property_type_checkbox.checked">{{property_type_checkbox.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="google-map-container">
          google maps
        </div>
      </div>
      <div class="right-panel-wrapper">
        <div class="search-results-right-panel-container">
          <div class="search-results-right-panel-wrapper">
            <div class="sort-by-title">SORT BY</div>
            <div class="sort-drop-down-container">
              <div class="sort-drop-down">Yield</div>
              <div class="sort-arrow-down"></div>
            </div>
            <div class="search-results-data">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mi metus, sagittis eu diam sed, laoreet vulputate elit. Donec consequat massa consectetur suscipit hendrerit. Duis euismod gravida laoreet. In accumsan sodales sodales. Pellentesque ac dui ut neque vulputate lobortis sit amet vel odio. Etiam semper eu nibh a molestie. Phasellus efficitur sed odio ut lobortis. 
              
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>