<div ng-controller='SearchController' ng-init='init()' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
  <header>
    <div class='header-wrap dashboard'>
      <ul class='left-side'>
        <li><a href='#/'><%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '133', alt: 'LNDMRK') %></a></li> 
        <li><a class='link-1' translate>how_it_works</a></li>
        <li><a class='link-2' translate>about</a></li>
        <li><a class='link-3' translate>learning</a></li>
      </ul>
      <ul class='right-side'>
        <li><a class='notification'></a></li>
        <li>
          <a class='user-image'></a>
        </li>
        <li><a class='user' href='#'>USER@LNDMRK.COM</a></li>
        <li class='logout'><a class='link' translate>logout</a></li>
      </ul>
    </div>
  </header>
  <section class="main-wrapper">
    <div class="data-container">
      <div class="search-results-right-panel-container">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mi metus, sagittis eu diam sed, laoreet vulputate elit. Donec consequat massa consectetur suscipit hendrerit. Duis euismod gravida laoreet. In accumsan sodales sodales. Pellentesque ac dui ut neque vulputate lobortis sit amet vel odio. Etiam semper eu nibh a molestie. Phasellus efficitur sed odio ut lobortis. Suspendisse venenatis elementum auctor. In rutrum sapien in lacinia tristique. Ut efficitur odio id massa tincidunt, vitae rhoncus erat porta. Praesent gravida nisi mi. Nullam pulvinar, urna sit amet maximus faucibus, sem tortor tincidunt eros, ut luctus leo diam eget nisl. Maecenas a sollicitudin mauris. Nulla eu justo sit amet felis condimentum cursus a eu mauris. Duis posuere justo neque, vel rutrum tortor gravida et.

Suspendisse et nibh ut mauris eleifend posuere id eget nisi. Sed cursus nisi libero, facilisis efficitur lacus sagittis id. Donec viverra condimentum ipsum, in maximus mauris hendrerit eget. Cras eget maximus ex, ut fermentum magna. Aenean non risus non libero vestibulum luctus. In quis dui sem. Aliquam sit amet ante vitae magna pellentesque dictum. Sed lacinia, nunc at maximus auctor, odio massa rhoncus turpis, sit amet dapibus nunc ipsum quis ipsum. Maecenas commodo, lacus laoreet vestibulum elementum, quam orci semper magna, et vulputate leo eros eget sapien. Etiam eleifend rhoncus euismod.

Vestibulum faucibus, lorem quis fermentum egestas, elit nunc mattis nibh, et ullamcorper nulla mi sit amet libero. Ut sit amet quam eget tortor venenatis varius nec et dolor. Ut tincidunt molestie dolor, eu venenatis diam eleifend nec. Integer nec convallis massa. Mauris rhoncus, lectus eu varius hendrerit, justo lectus laoreet mi, vel gravida leo augue condimentum lectus. Vestibulum quis libero ut justo suscipit ultricies eget sed nibh. Donec a tortor nec tellus dignissim fringilla vel quis tortor. Phasellus venenatis enim maximus elit malesuada, et malesuada lacus congue. Suspendisse sed ullamcorper sapien. Etiam a eleifend mi, ut aliquet enim.

Curabitur consectetur accumsan erat ut interdum. Morbi venenatis suscipit diam ornare condimentum. Nunc rutrum eros in quam sodales malesuada. Nunc vel pulvinar est, eget consectetur leo. Nulla condimentum ligula sapien, ac pharetra tellus eleifend in. Ut ac elementum eros. Praesent non dapibus tortor, at lobortis nibh. Aenean fringilla turpis vitae tortor auctor pretium.

Aenean fringilla sed elit ac rhoncus. Donec mi metus, sagittis vitae quam vitae, imperdiet gravida mauris. Nullam cursus eros vitae sem tincidunt, eu ornare libero luctus. Aenean in accumsan ex. In bibendum odio et lacus rutrum aliquam. Nulla facilisi. Mauris eu libero arcu. Pellentesque fringilla sagittis malesuada. Donec rutrum elit quis ligula varius, sit amet rutrum mauris faucibus. Curabitur ornare orci ut lectus posuere, sit amet scelerisque lorem pellentesque.
      </div>
      <div class="search-top-panel-container">
        <div class="top-panel-search-properties">
          search properties
        </div>
        <div class="top-panel-market-type">
          market type
        </div>
        <div class="top-panel-property-type">
          property type
        </div>
      </div>
      <div class="google-map-container">
        google maps
      </div>
    </div>
  </section>
</div>