<div ng-controller='SearchController' ng-init='init()' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
  <header>
    <div class='header-wrap dashboard'>
      <ul class='left-side'>
        <li><a href='#/'><%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '133', alt: 'LNDMRK') %></a></li> 
        <li><a class='link-1' translate>how_it_works</a></li>
        <li><a class='link-2' translate>about</a></li>
        <li><a class='link-3' translate>learning</a></li>
      </ul>
      <ul class='right-side'>
        <li><a class='notification'></a></li>
        <li>
          <a class='user-image'></a>
        </li>
        <li><a class='user' href='#'>USER@LNDMRK.COM</a></li>
        <li class='logout'><a class='link' translate>logout</a></li>
      </ul>
    </div>
  </header>
  <section class="main-wrapper">
    <div class="data-container">
      <div class="left-panel-wrapper">
        <div class="search-top-panel-container">
          <div class="top-panel-search-properties">
            <div class="top-panel-search-properties-container">
              <div class="top-panel-section-title search">SEARCH PROPERTIES</div>
              <div class="properties-buttons-wrapper">
                <div class="properties-button left">INCOME</div>
                <div class="properties-button middle">GROWTH</div>
                <div class="properties-button right">INCOME & GROWTH</div>
              </div>
              <input type="text" class="search-input">
            </div>
          </div>
          <div class="separate-line"></div>
          <div class="top-panel-market-type">
            <div class="top-panel-market-type-container">
              <div class="top-panel-section-title market">MARKET TYPE</div>
              <div class="market-type-checkbox-wrapper" ng-repeat="market_type_checkbox in market_type_checkboxes">
                <div class="market-type-checkbox-container">
                  <div class="search-checkbox" ng-click="market_type_checkbox.checked = !market_type_checkbox.checked">
                    <span ng-show="market_type_checkbox.checked"><i class="fa fa-check"></i></span>
                  </div>
                  <span class="search-checkbox-text" ng-click="market_type_checkbox.checked = !market_type_checkbox.checked">{{market_type_checkbox.name}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="separate-line"></div>
          <div class="top-panel-property-type">
            <div class="top-panel-market-type-container">
              <div class="top-panel-section-title property">PROPERTY TYPE</div>
              <div class="propery-type-checkbox-wrapper">
                <div class="propery-type-checkbox-container" ng-repeat="property_type_checkbox in property_type_checkboxes">
                  <div class="search-checkbox" ng-click="property_type_checkbox.checked = !property_type_checkbox.checked">
                    <span ng-show="property_type_checkbox.checked"><i class="fa fa-check"></i></span>
                  </div>
                  <span class="search-checkbox-text" ng-click="property_type_checkbox.checked = !property_type_checkbox.checked">{{property_type_checkbox.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="google-map-container">
          google maps
        </div>
      </div>
      <div class="right-panel-wrapper">
        <div class="search-results-right-panel-container">
          <div class="sort-by-title">SORT BY</div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mi metus, sagittis eu diam sed, laoreet vulputate elit. Donec consequat massa consectetur suscipit hendrerit. Duis euismod gravida laoreet. In accumsan sodales sodales. Pellentesque ac dui ut neque vulputate lobortis sit amet vel odio. Etiam semper eu nibh a molestie. Phasellus efficitur sed odio ut lobortis. Suspendisse venenatis elementum auctor. In rutrum sapien in lacinia tristique. Ut efficitur odio id massa tincidunt, vitae rhoncus erat porta. Praesent gravida nisi mi. Nullam pulvinar, urna sit amet maximus faucibus, sem tortor tincidunt eros, ut luctus leo diam eget nisl. Maecenas a sollicitudin mauris. Nulla eu justo sit amet felis condimentum cursus a eu mauris. Duis posuere justo neque, vel rutrum tortor gravida et.Nulla ut felis dapibus ipsum dapibus maximus nec non erat. Duis et porttitor eros, vitae viverra massa. Ut auctor ex id urna euismod tincidunt. Aenean lectus tortor, tristique eu ligula id, iaculis tempor ligula. Duis dignissim pretium enim ut elementum. Donec efficitur mollis magna ac porta. Curabitur eleifend sagittis ex, eu efficitur sem semper ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec pulvinar, eros at aliquet facilisis, velit purus posuere odio, a ornare orci nulla sed neque.

          Aliquam tempus augue a velit maximus maximus. Aliquam pretium tristique elementum. Donec id rhoncus nisi. Praesent elementum eget ipsum ac tincidunt. Suspendisse non ligula at nunc rutrum fermentum. In hac habitasse platea dictumst. Pellentesque vehicula aliquet ligula eget dapibus. Suspendisse rutrum nunc et turpis venenatis, ut maximus nibh aliquet. In vel egestas augue. Nulla condimentum nunc lectus, sit amet imperdiet arcu auctor vel. Suspendisse id rhoncus elit. Nunc iaculis, mi nec pulvinar consectetur, mauris metus iaculis mi, vel eleifend diam velit vitae felis. Aenean laoreet, dolor in dapibus tincidunt, sem nisl pretium ligula, vel sodales lorem erat a nibh.

          Curabitur sit amet bibendum diam. Nunc non mollis risus. Proin fringilla, elit a pulvinar pulvinar, purus quam pulvinar nisi, mattis blandit eros arcu non urna. Duis varius posuere suscipit. Ut quis lacinia tellus. Nam iaculis, ex at volutpat fringilla, velit arcu dapibus ipsum, at gravida metus enim eget leo. Aliquam vel efficitur urna. Nunc ullamcorper finibus lectus. Mauris sed lobortis purus. Etiam sodales risus nec neque cursus sollicitudin. Aliquam non semper quam, quis fermentum lectus.

          Cras egestas nisi ut luctus placerat. Ut nulla dui, lobortis eu ipsum et, scelerisque egestas mauris. Sed quis maximus tellus. Vestibulum viverra lorem interdum, congue lacus sed, eleifend risus. Donec ac scelerisque justo, tempor malesuada lorem. Duis quis tellus non enim maximus finibus vel vitae arcu. Sed tristique egestas lorem, a dictum magna facilisis iaculis. Aenean sem libero, ultrices et eleifend et, pretium dapibus mi. Nulla interdum maximus arcu. Sed lacus nibh, elementum et ligula vel, auctor consectetur massa. Duis imperdiet felis sed purus sodales pellentesque. Suspendisse suscipit justo nibh, ac varius elit placerat sed. Mauris id volutpat enim.

        </div>
      </div>
    </div>
  </section>
</div>