<div ng-controller="MainController"  class='mobile' ng-init='init()' ng-class='{"hebrew": localizationSrv.locale === "he"}'>

  <mobile-header></mobile-header>

    <header>
      <div class='row-left'>
        <div class='menu-hamburger' ng-click="toggleMenu()"></div>
        <a class='logo' href='/#/'>
          <div class='header-logo'></div>
        </a>
      </div>
      <div class='row-right'>
        <div class='logout'>
          <a href="/#/" class='link' translate>logout</a>
        </div>
      </div>
    </header>
  </div>

  <div class='body'>
    <a href="/#/dashboard">dashboard</a> <br>
    <a href="/#/search">search</a> <br>
    <a href="/#/property">property</a><br>
  </div>
</div>