<div ng-controller="MainController"  class='mobile' ng-init='init()' ng-class='{"hebrew": localizationSrv.locale === "he"}'>

  <md-sidenav class="{{menuClass}} menu" md-component-id="menu" ng-class='{"hebrew": localizationSrv.locale === "he"}'>
    <div class='top'>
      <li><a href="/#/" translate>home</a></li>
      <li><a href="/#/" translate>how_it_works</a></li>
      <li><a href="/#/" translate>about</a></li>
      <li><a href="/#/" translate>learning</a></li>
    </div>
    <div class='bottom'>
      <li class='lang'><div ng-click='toggleLocalization("en")'>EN</div> | <div ng-click='toggleLocalization("he")'>HE</div></li>
      <li class='divider'></li>
      <li class='user-image'></li>
      <li class='user-name'>PORTFOLIO</li>
      <li class='user-email'>USER@LNDMRK.COM</li>
      <li class='divider'></li>
      <li><a href="/#/" translate>logout</a></li>        
    </div>
  </md-sidenav>

  <header>
    <div class='row-left'>
      <div class='menu-hamburger' ng-click="toggleMenu()"></div>
      <a class='logo' href='/#/'>
        <%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '133', alt: 'LNDMRK') %>
      </a>      
    </div>
    <div class='row-right'>
      <div class='logout'>
        <a href="/#/" class='link' translate>logout</a>
      </div>      
    </div>
  </header>

  <div class='body'>
    <a href="/#/dashboard">dashboard</a> <br>
    <a href="/#/search">search</a> <br>
    <a href="/#/property">property</a><br>
  </div>
</div>