<div ng-controller="MainController"  class='mobile' ng-init='init()' ng-class='{"hebrew": localizationSrv.locale === "he"}'>

  <mobile-header></mobile-header>

  <div class='body'>
    <a href="/#/dashboard">dashboard</a> <br>
    <a href="/#/search">search</a> <br>
    <a href="/#/property">property</a><br>
  </div>
</div>