<div ng-controller="PropertyController"  class='mobile' ng-init='init()' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
  <mobile-header></mobile-header>
  <div class='body'>
    
  </div>
</div>