<div ng-controller="SearchController"  class='mobile' ng-init='init()' ng-class='{"hebrew": localizationSrv.locale === "he"}'>
  <mobile-header></mobile-header>

  <div class='body' ng-init='showFilters = false; prevRoute = "map"'>

    <div class='filters-panel nga-default nga-slide-left nga-fast' ng-show="mobileVisiblePanel === 'filters'">
      <div class='header'>
        <div class='back-button' ng-click='mobileVisiblePanel = prevRoute'>
          <div class='arrow'><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
          <div class='title' translate>filters</div>
        </div>
      </div>
      
      <div class='content'>
        <div class='sort-by'>
          <div class='title'>
            <div class='sort-by-icon'></div>
            <div class='sort-by-title' translate> search.sort_by</div>
          </div>
          <div class='sort-container'>
            <label ng-repeat="sort_option in sort_options_list" class='option' >
              <input type="radio" name='sort' ng-click='sortResult(sort_option)' />
              <span translate>{{sort_option}}</span>
            </label>
          </div>
        </div>

        <div class='divider'></div>

        <div class='market-type'>
          <div class='title'>
            <div class='market-properties-icon'></div>
            <div class='market-title' translate> search.market_type</div>
          </div>
          <div class="market-type-checkbox-wrapper" >
            <div class="market-type-checkbox-container" ng-repeat="market_type_checkbox in mobile_market_type_checkboxes">
              <div class="search-checkbox" ng-click="market_type_checkbox.checked = !market_type_checkbox.checked">
                <span ng-show="market_type_checkbox.checked"><i class="fa fa-check"></i></span>
              </div>
              <span class="search-checkbox-text" ng-class="{'search-checkbox-text-selected' : market_type_checkbox.checked}" ng-click="market_type_checkbox.checked = !market_type_checkbox.checked" translate>{{market_type_checkbox.name}}</span>
            </div>
          </div>
        </div>

        <div class='divider'></div>

        <div class='property-type'>
          <div class='title'>
            <div class='property-properties-icon'></div>
            <div class='properties-title' translate> search.property_type</div>
          </div>
          <div class="property-type-checkbox-wrapper">
            <div class="property-type-checkbox-container" ng-repeat="property_type_checkbox in mobile_property_type_checkboxes">
              <div class="search-checkbox" ng-click="property_type_checkbox.checked = !property_type_checkbox.checked">
                <span ng-show="property_type_checkbox.checked"><i class="fa fa-check"></i></span>
              </div>
              <span class="search-checkbox-text" ng-class="{'search-checkbox-text-selected' : property_type_checkbox.checked}" ng-click="property_type_checkbox.checked = !property_type_checkbox.checked ; filterResults()" translate>{{property_type_checkbox.name}}</span>
            </div>
          </div>
        </div>

        <div class='apply-cancel-container'>
          <div class='cancel' ng-click="mobileVisiblePanel = 'map'; cancelFilters(); " translate> cancel </div>
          <div class='apply' ng-click="mobileVisiblePanel = 'map'; mobileFilterResults(); " translate> apply </div>
        </div>
      </div>
    </div>

    <div class='map-panel' ng-show="mobileVisiblePanel === 'map'">
      <div class='search-properties'>
        <div class='content' ng-click='showFilters = !showFilters'> 
          <div class='title-wrap'>
            <div class='icon'></div>
            <div class='title' translate>search.search_properties</div>
          </div>
          <div class='clear-all' ng-click="clearSearch()" translate>search.reset_all</div>
        </div>
        <div class='filters-container' ng-hide='showFilters === false'>
          <div class='filters'>
            <div class="properties-button left" ng-class="{'properties-button-left-selected' : investment_type_buttons[0].checked}" ng-click="investment_type_buttons[0].checked = !investment_type_buttons[0].checked ; filterResults()" translate>max_dividends</div>
            <div class="properties-button middle" ng-class="{'properties-button-middle-selected' : investment_type_buttons[1].checked}" ng-click="investment_type_buttons[1].checked = !investment_type_buttons[1].checked ; filterResults()" translate>max_appreciation</div>
            <div class="properties-button right" ng-class="{'properties-button-right-selected' : investment_type_buttons[2].checked}" ng-click="investment_type_buttons[2].checked = !investment_type_buttons[2].checked ; filterResults()" translate>max_dividends_appreciation</div>
          </div>

          <div class='input'> 
            <form ng-submit="filterResults(); showFilters = false;" id='searchForm'>
              <input id="pac-input" class="address-autocomplete-input" type="text" placeholder="Search address, city, state" ng-model="searchForm.address">
            </form>
          </div>
        </div>
      </div>
      <div id="map" style="width: 100vw; height: 100vh; position: relative; top:43px" ng-init="googleMaps.init()"></div>
    </div>

    <div class='properties-panel nga-default nga-slide-down-all nga-fast' ng-show="mobileVisiblePanel === 'properties'">
      <div class='search-properties'>
        <div class='content' ng-click='showFilters = !showFilters'> 
          <div class='title-wrap'>
            <div class='icon'></div>
            <div class='title' translate>search.search_properties</div>
          </div>
          <div class='clear-all' ng-click="clearSearch()" translate>search.reset_all</div>
        </div>
        <div class='filters-container' ng-hide='showFilters === false'>
          <div class='filters'>
            <div class="properties-button left" ng-class="{'properties-button-left-selected' : investment_type_buttons[0].checked}" ng-click="investment_type_buttons[0].checked = !investment_type_buttons[0].checked ; filterResults()" translate>max_dividends</div>
            <div class="properties-button middle" ng-class="{'properties-button-middle-selected' : investment_type_buttons[1].checked}" ng-click="investment_type_buttons[1].checked = !investment_type_buttons[1].checked ; filterResults()" translate>max_appreciation</div>
            <div class="properties-button right" ng-class="{'properties-button-right-selected' : investment_type_buttons[2].checked}" ng-click="investment_type_buttons[2].checked = !investment_type_buttons[2].checked ; filterResults()" translate>max_dividends_appreciation</div>
          </div>

          <div class='input'> 
            <form ng-submit="filterResults(); showFilters = false;" id='searchForm'>
              <input id="pac-input" class="address-autocomplete-input" type="text" placeholder="Search address, city, state" ng-model="searchForm.address">
            </form>
          </div>
        </div>
      </div>
      <div class='search-results-data'>
        <div ng-repeat='asset in assets_results track by $index' id='asset{{asset.id}}'
            ng-mouseenter='googleMaps.hoverOverAsset(asset)' 
            ng-mouseleave='googleMaps.unhoverOverAsset(asset)'>
          <assets-results asset='asset' id='myCarousel' ng-class='{ chosen: chosenAsset === asset }'
                          addtowatchlist='addToWatchlist(asset_id)'
                          removefromwatchlist='removeFromWatchlist(asset_id)'></assets-results>
        </div>
      </div>

    </div>

    <div class='navigator' ng-show='mobileVisiblePanel !== "filters"'>

      <div class='map-prop-container'> 
        <div class='button properties' 
             ng-click="mobileVisiblePanel = 'properties'; prevRoute = 'properties'"
             ng-class="{'active': mobileVisiblePanel === 'properties'}">
          <div class='icon'></div>
          <div class='title ' translate>properties</div>
        </div>

        <div class='button  map' 
             ng-click="mobileVisiblePanel = 'map'; ; prevRoute = 'map'"
             ng-class="{'active': mobileVisiblePanel === 'map'}">
          <div class='icon'></div>
          <div class='title ' translate>map</div>
        </div>
      </div>

      <div class='button filters' 
           ng-click="mobileVisiblePanel = 'filters'"
           ng-class="{'active': mobileVisiblePanel === 'filters'}">
        <div class='icon'></div>
        <div class='title ' translate>filters</div>
      </div>      
    </div>
  </div>
</div>