$black: #000;
$white: #fff;
$pale-grey: #FBFBFB;
$transprnt-white: rgba(255, 255, 255, .5);
$dark-blue: rgb(16, 36, 71);
$blue: rgb(0, 122, 255);
$medium-blue: rgb(0, 219, 255);
$purple: rgb(146, 39, 142);
$light-purple: rgb(159, 52, 156);
$yello: rgb(255,216,26);
$grey: #999;

$bleed-width: 180px;
// $container-width: 1040px;
$container-width: 1110px;

* {
}

body {
  background-color: $pale-grey;
  font-family: "proxima-nova", sans-serif;
}

section {
  width: 100%;
  min-width: 1200px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: $container-width;
}