$black: #000;
$white: #fff;
$pale-grey: #FBFBFB;
$transprnt-white: rgba(255, 255, 255, .5);
$dark-blue: rgb(16, 36, 71);
$dark-shadow-blue: rgb(25, 70, 107);
$blue: rgb(0, 122, 255);
$blue-2: rgb(2, 128, 194);
$light-blue: #EEFAFA;
$light-medium-blue: #DDF2F5;
$medium-blue: rgb(0, 219, 255);
$dark-medium-blue: rgb(0, 165, 191);
$turquoise: rgb(79, 195, 201);
$dark-turquoise: rgb(26, 137, 137);
$darkest-turquoise: rgb(13,66,64);
$green: rgb(139, 197, 63);
$purple: rgb(146, 39, 142);
$dark-purple: rgb(127, 19, 122);
$light-purple: rgb(159, 52, 156);
$yello: rgb(255,216,26);
$dark-yello: rgb(216, 177, 0);
$orange: rgb(246, 146, 30);
$grey: #999;
$light-grey: #e5e5e5;
$dark-grey: #4d4d4d;

$bleed-width: 180px;
// $container-width: 1040px;
$container-width: 1110px;
// $container-width: 1192px;

@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

* {
}

body {
  background-color: $pale-grey;
  font-family: "proxima-nova", sans-serif;
}

section {
  width: 100%;
  min-width: 1200px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: $container-width;
}

.flip-horizontally {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.flexbox-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.flexbox-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap; 
}

.flexbox-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
}

.flexbox-colum-to-top-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
}

.flexbox-colum-to-top-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
}

.flexbox-wrap-column-start {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.flexbox-wrap-row-start {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.util-bg-white {
  background-color: $white;
}