@import "./_base.css.scss";
//================================
// projects-carousel:
//================================
.carousel-directive {
  width: 100%;
  margin: 0; padding: 0;
}
.assets-carousel {
  height: 310px;
  direction: ltr;
  overflow-y: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  a {
    text-decoration: none;
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }
}

.base-carousel-arrow {
  cursor: pointer;
  flex: 0 0 auto;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.carousel-arrow-wrap {
  width: 34px;
  margin-top: 67px;
  &.left { order: 1;}
  &.right { order: 3;}
}
.arrow-inner-wrap {
  cursor: pointer;
  width: 34px;
  height: 34px;
  margin: 40px auto 0;
  box-sizing: border-box;
  padding: 9px;
  position: relative;
  &:focus { outline: 0; }
  &.right { padding-left: 9px; }
  &.left { padding-left: 2px; }
  &.greyed {
    cursor: default;
    .base-carousel-arrow {
      opacity: .3;
      cursor: default;
    }
  }
}

.carousel-arrow-l {
  @extend .base-carousel-arrow;
  margin-left: 15px;
  border-right:9px solid $white;
}

.carousel-arrow-r {
  @extend .base-carousel-arrow;
  border-left:9px solid $white;
}

.carousel-show {
  height:100%;
  margin: 0;
  padding: 0;
  width: 1212px;
  flex: 1 1 auto;
  overflow-y: hidden;
  overflow-x: visible;
  order: 2;
}

.carousel-outer-wrap {
  height:100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  overflow-y: hidden;
  direction: ltr;
}

.carousel-inner-wrap {
  height:100%;
  width: 1680px;
  // width: 2600px;
  padding: 0;
  box-sizing: border-box;  
  text-align: left;
  vertical-align: top;
  overflow-y: hidden;
  overflow-x: visible;
  position: relative;
  display: flex;
  justify-content: flex-start;
  transition: left 0.5s ease-out;
  margin: 0;
}
.separate-properties {
  border-bottom: 1px solid #d6cccc;
  width: 100%;
}
.results-asset-block {
  // cursor: default;
  height: calc(100% - 39px);
  width: 190px;
  /*margin: 0 24px 0 30px;*/
  padding:0;
  text-align: center;
  padding-bottom: 13px;


  position: relative;

  .bottom-row {
    height: 20px;
    width: 190px;
    // overflow-y: hidden;
    overflow: visible;
    position: relative;
    // pointer-events: none;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .property-button {
      font-weight: 600;
      font-size: 11px;
      height: 20px;
      @extend .flexbox-row-center-center;
      // display: flex;
      // padding-top: 4px;
      padding: 0 5px;
      // justify-content: center;
      text-transform: uppercase;
      &.buy {
        color: $white;
        cursor: pointer;
        background: $red-orange;
        width: 80px;
        &.hebrew {
          font-size: 13px;
          // padding: 0;
        }
      }
      &.wtch, &.sell {
        color: $red-orange;
        cursor: pointer;
        background: $white;
        border: 2px solid $red-orange;
        width: 102px;
      }
      &.wtch {
        font-size: 9px;
        &.watched {
          justify-content: space-between;
          &::before {
            content: '';
            transform: rotate(45deg);
            border: solid $red-orange;
            border-width: 0 2px 2px 0;
            width: 6px;
            height: 9px;
            margin-bottom: 3px;
          }
        }
        &.hebrew {
          font-size: 11px;
          padding-bottom: 1px;
          justify-content: space-around;
        }
      }
      &:focus {outline: 0;}
    }
    .shadow {
      box-shadow: inset 0 5px 25px -6px rgba(41,41,41,.56);
      width: 210px;
      margin-left: -10px;
      position: absolute;
      height: 34px;
      pointer-events: none;
    }
  }
  .add-to-my-list-checkbox-container {
    display: flex;
    height: 17px;
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    .my-list-checkbox {
      background: #1fd6ea;
      width: 15px;
      height: 15px;
      cursor: pointer;
      text-align: center;
      line-height: 12px;
      list-style: none;
      color: white;
      font-size: 9px;
      display: inline-block;
      margin-top: 1px;
    }
    .my-list-checkbox-text {
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 2px;
      cursor: pointer;
    }
  }
  .asset-name {
    cursor: pointer;
    font-size: 11px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin: 42px auto 5px;
    position: relative;
    z-index: 1;
  }
  h4 {
    cursor: pointer;
    font-size: 8px;
    text-transform: uppercase;
    color: $purple;
    margin: 4px auto 13px;
  }
  .asset-box-shadow {
    height: 200px;
    box-shadow: 0 -18px 60px 5px rgba(0, 76, 74, 0.5);
    position: absolute;
    width: 167px;
    margin-left: 10px;
    z-index: -1;
    pointer-events: none;
  }
  .box-wrap {
    cursor: pointer;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 205px;
    width: 190px;
    margin: 0 auto;
    box-shadow: 0 0 9px -1px rgba(0, 0, 0, .4);


    .light-blue-shadow {
      position: absolute;
      width: 124px;
      height: 205px;
      // height: 187px;
      pointer-events: none;
    }
    .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      height: 205px;
      box-shadow: -11px 4px 13px -4px #dff5f7;
      pointer-events: none;
      .right-col {
        width: calc(190px - 120px);
        // width: calc(187px - 126px);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        order: 2;
        background-color: $white;
        padding: 9px 0 18px;
        pointer-events: none;
        .partition {
          border-bottom: 1px solid $light-grey;
          width: 34px;
          height: 1px;
          overflow: hidden;
          margin: 8px auto 10px;
          pointer-events: none;
        }
        .risk-letter {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          line-height: 19px;
          text-align: center;
          border: 1px solid;
          border-radius: 50%;
          width: 22px;
          height: 22px;
          pointer-events: none;
          &.risk-a { color: $blue-2; border-color: $blue-2; padding-left: 1px;}
          &.risk-b { color: $green; border-color: $green; padding-left: 1px;}
          &.risk-c { color: $yello; border-color: $yello; }
          &.risk-d { color: $red-orange; border-color: $red-orange; padding-left: 1px; }
          &:focus { outline: 0;}
        }
        .info-title {
          color: $dark-grey;
          font-size: 8px;
          margin-bottom: 2px;
          pointer-events: none;
        }
        .info-data {
          color: $dark-blue;
          font-size: 14px;
          font-weight: 600;
          pointer-events: none;
        }
      }
      .image-placer {
        width: 126px;
        pointer-events: none;
        order: 1;
        overflow: hidden;
        .investment-type {
          color: #fff;
          text-transform: uppercase;
          font-size: 8px;
          font-weight: 600;
          pointer-events: none;
          display: flex;
          position: relative;
          bottom: 185px;
          width: 65px;
          height: 27px;
          padding-top: 8px;
          justify-content: center;
          &.income {background-color: $yello;}
          &.growth {background-color: $purple;}
          &.income-growth {background-color: $medium-blue;}
        }
        .img-in-carousel {
          min-width: 126px;
          height: 205px;
        }
        .property-datails {
          pointer-events: none;
          position: relative;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 13px;
          letter-spacing: 1px;
          color: $dark-blue;
          bottom: 85px;
          z-index: 1;
          height: 53px;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%,rgba(255,255,255,.3) 15%,rgba(255,255,255,.8) 50%, $white 79%);
          &.is-hovered.income {
            background: linear-gradient(to bottom, rgba(255,216,26, 0) 0%,rgba(255,216,26, .3) 15%,rgba(255,216,26, .8) 50%, $yello 79%);
            color: $white;
          }
          &.is-hovered.growth {
            background: linear-gradient(to bottom, rgba(146,39,142,0) 0%,rgba(146,39,142,.3) 15%,rgba(146, 39, 142, .8) 50%, $purple 79%);
            color: $white;
          }
          &.is-hovered.income-growth {
            background: linear-gradient(to bottom, rgba(0,219,255,0) 0%,rgba(0,219,255,.3) 15%,rgba(0, 219, 255, .8) 50%, $medium-blue 79%);
            color: $white;
          }
        }
      }
    }
    
    .image-border {
      pointer-events: none;
      width: 126px;
      height: calc(220 - 25px);
      position: absolute;
      overflow: hidden;
      -webkit-box-shadow: 0 1px 10px 1px rgba(197,214,240,1);
      -moz-box-shadow: 0 1px 10px 1px rgba(197,214,240,1);
      box-shadow: 0 1px 10px 1px rgba(197,214,240,1);
    }
  }
}

