@import "./_base.css.scss";
//================================
// property-page: 2nd
//================================
.section-banner {
  width: 100%;
  height: 358px;
}

.second-row {
  background-color: $pale-grey;
  .container {
    position: static;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-top;
    justify-content: space-between;
    width: 1195px;
    .property-details {
      flex: 0 0 auto;
      padding: 62px 37px 0 0;
      height: 477px;
      width: 501px;
      &.hebrew { padding: 62px 0 0 37px; }
      h1 {
        color: $turquoise;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      p {
        color: $dark-blue;
        font-size: 14px;
        font-weight: 100;
        line-height: 1.6;
        height: 355px;
        overflow-y: auto;
      }
    }
    .map-section {
      flex: 0 0 auto;
      padding: 29px 0 32px;
      position: relative;
      width: 694px;
      @extend .flexbox-colum-to-top-start;
      .titles {
        @extend .flexbox-row-start;
        width: 413px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 1.5px;
        height: 40px;
        cursor: pointer;
        .street-view {
          border: 2px solid $turquoise;
          border-bottom: none;
          color: $turquoise;
          padding: 11px 28px 7px;
          height: inherit;
          outline: 0;
          &.chosen {
            border:none;
            background-color: $turquoise;
            color: $white;
          }
          &:focus { outline: 0;}
        }
        .location-map {
          border: 2px solid $turquoise;
          border-bottom: none;
          color: $turquoise;
          height: inherit;
          outline: 0;
          text-align: center;
          min-width: 120px;
          font-size: 14px;
          padding: 11px 28px 7px;
          &.hebrew { font-size: 16px; line-height: 39px; padding: 0;}
          &.chosen {
            border:none;
            background-color: $turquoise;
            color: $white;
          }
          &:focus { outline: 0;}
        }
      }
      .map-image {
        width: 694px;
        height: 376px;
        border: 2px solid $turquoise;
        z-index: 0;
        position: absolute;
        top: 69px;
        &.visible {
          z-index: 1;
        }
      }
    }
  }
}

.numbers-strip {
  background-color: $turquoise;
  width: 100%;
  height: 120px;
  .container.turquoise-strip {
    @extend .flexbox-row-start;
    width: 1195px;
    position: relative;
  }
  .section-title {
    @extend .flexbox-row-center-center;
    width: 132px;
    height: 127px;
    bottom: -3px;
    position: absolute;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 1.5px 8px 0 rgba(25,70,107,.3);
    text-shadow: 0 1.5px 4px rgba(25, 70, 107, 0.3);
    padding: 0 10px;
    background-color: $yello2;
    &.type-yello { background-color: $yello2; }
    &.type-purple { background-color: $purple; }
    &.type-cyan { background-color: $medium-blue; }
  }
  .attributes-wrap {
    text-transform: uppercase;
    margin-left: 124px;
    @extend .flexbox-row-start;
    &.hebrew { margin-left: unset; margin-right: 124px;}
    .attribute {
      @extend .flexbox-colum-to-top-center;
      margin-left: 30px; margin-right: unset;
      height: 120px;
      min-width: 100px;
      &.hebrew { margin-left: unset; margin-right: 30px;}
      span {
        color: $white;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      h1 {
        color: $blue-2;
        font-weight: 600;
        font-size: 24px;
        background-color: $white;
        width: 38px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 0 0 2px $blue-2, 0 0 0 6px $white,0 1.5px 8px 4px rgba(25,70,107,.3);
        &.rank-a { color: $blue-2; box-shadow: 0 0 0 2px $blue-2, 0 0 0 6px $white,0 1.5px 8px 4px rgba(25,70,107,.3); }
        &.rank-b { color: $green; box-shadow: 0 0 0 2px $green, 0 0 0 6px $white,0 1.5px 8px 4px rgba(25,70,107,.3); }
        &.rank-c { color: $yello; box-shadow: 0 0 0 2px $yello, 0 0 0 6px $white,0 1.5px 8px 4px rgba(25,70,107,.3); }
        &.rank-d { color: $red-orange; box-shadow: 0 0 0 2px $red-orange, 0 0 0 6px $white,0 1.5px 8px 4px rgba(25,70,107,.3); }
        &.rank-e { color: $red; box-shadow: 0 0 0 2px $red, 0 0 0 6px $white,0 1.5px 8px 4px rgba(25,70,107,.3); }
      }
      h2 {
        color: $white;
        font-size: 35px;
        font-weight: 600;
        margin-top: -2px;
        text-shadow:0 1.5px 4px rgba(25,70,107,.3);
        i {
          font-size: 20px;
          font-style: normal;
        }
      }
    }
  }
}
