@import "./_base.css.scss";
//================================
// property-page: 3rd
//================================
.infographics {
  height: 1385px;
  overflow: hidden;
  background-color: $white;
  .container {
    @extend .flexbox-row-between;
    width: 1195px;
  }

  .line {
    height: 1px;
    background-color: $grey;
    position: relative;
    top: 48px;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
  }

  .title {
    width: 207px;
    height: 31px;
    margin: 32px auto 39px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1.8px;
    z-index: 2;
    position: relative;
    line-height: 29px;
    border: 1px solid $dark-blue;
    background-color: $white;
    text-transform: uppercase;
    color: $dark-turquoise;
    box-shadow: 0 0.5px 8px -1px rgba(0, 122, 255, 0.6);
  }

  .secondary-title {
    color: $turquoise;
    font-size: 18px;
    font-weight: 600;
  }

  .column {
    @extend .flexbox-colum-to-top-center;
    //column lines - left in English 
    &.lines {
      width: 629px;
      height: 1385px;
      .transactions {
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 20px;
        @extend .flexbox-colum-to-top-center;
        h1 {
          @extend .secondary-title;
          margin-bottom: 4px;
        }
        .transaction-row {
          border: 1px solid $dark-blue;
          width: 100%;
          height: 40px;
          margin: 5px 0 13px;
          padding: 5px 15px;
          box-shadow: 0 0.5px 8px -1px rgba(0, 122, 255, 0.6);
          @extend .flexbox-row-between;
          .time {
            font-weight: 600;
            word-spacing: 4px;
          }
          .meter-price {
            font-size: 22px;
            font-weight: 600;
            color: $turquoise;
            & span {
              font-weight: 900;
            }
          }
        }
        .transaction-history-link {
          width: 100%;
          height: 40px;
          margin: 3px 0;
          padding: 5px 15px;
          text-align: center;
          color: $turquoise;
          background-color: $light-blue;
          box-shadow: 0 0.5px 8px -1px rgba(0, 122, 255, 0.6);
          line-height: 30px;
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 0.5px;
        }
      }
      .ranking {
        width: 100%;
        h1 {
          @extend .secondary-title;
          text-align: center;
        }
        .letters-row {
          @extend .flexbox-row-between;
          margin-bottom: 19px;
          .rank {
            width: 97px;
            height: 98px;
            border-radius: 50%;
            line-height: 98px;
            text-align: center;
            color: $white;
            text-transform: uppercase;
            font-size: 60px;
            font-weight: 600;
            background-color: $blue-2;
            &.rank-a { background-color: $blue-2; }
            &.rank-b { background-color: $green; }
            &.rank-c { background-color: $yello; }
            &.rank-d { background-color: $red-orange; }
            &.rank-e { background-color: $red; }
          }
          .ranks-options {
            width: 462px;
            height: 61px;
            background-image: image-url('demo_img/letters.png');
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
      .points {
        @extend .flexbox-colum-to-top-center;
        width: 100%;
        text-transform: uppercase;
        
        .points-row {
          @extend .flexbox-row-between;
          box-shadow: 0 0.5px 8px -1px rgba(0, 122, 255, 0.6);
          height: 40px;
          width: 100%;
          border: 1px solid $dark-blue;
          margin: 5px 0;
          box-sizing: border-box;
          h2 {
            font-size: 16px;
            font-weight: 600;
            height: 38px;
            flex: 1 1 45%;
            color: $black;
            text-align: left;
            line-height: 40px;
            padding-left: 10px;
            background-color: transparent;
          }
          h3 {
            font-size: 16px;
            font-weight: 600;
            height: 38px;
            flex: 1 1 30%;
            color: $turquoise;
            text-align: left;
            line-height: 40px;
            padding-left: 10px;
            background-color: $light-blue;
          }
          h4 {
            font-size: 16px;
            font-weight: 600;
            height: 38px;
            flex: 1 1 25%;
            color: $black;
            text-align: center;
            line-height: 40px;
            background-color: $light-medium-blue;
          }
          &.header {
            border: none;
            box-shadow: none;
            margin-bottom: -5px;
            h2, h3, h4 {
              font-size: 14px;
              font-weight: 600;
              color: $turquoise;
              background-color: transparent;
              box-shadow: none;
            }
          }
        }
      }
      .investment-management {
        @extend .flexbox-colum-to-top-center;
        width: 100%;
        text-transform: uppercase;
        .line {
          width: 100%;
        }
        .title {

        }
        .invest-row-header {
          text-align: center;
          border: none;
          font-size: 16px;
          font-weight: 600;
          color: $turquoise;
          background-color: transparent;
        }
        .investment-mng-row {
          @extend .flexbox-row-between;
          height: 40px;
          width: 100%;
          border: 1px solid $dark-blue;
          margin: 5px 0;
          box-sizing: border-box;
          box-shadow: 0 0.5px 8px -1px rgba(0, 122, 255, 0.6);
          h2 {
            font-size: 16px;
            font-weight: 600;
            height: 38px;
            flex: 1 1 30%;
            color: $black;
            text-align: left;
            line-height: 40px;
            padding-left: 10px;
            background-color: transparent;
          }
          h3 {
            font-size: 22px;
            font-weight: 600;
            color: $turquoise;
            height: 38px;
            flex: 1 1 45%;
            text-align: center;
            line-height: 40px;
            padding-left: 10px;
            background-color: transparent;
            & span {
              font-weight: 900;
            }
          }
          h4 {
            font-size: 16px;
            font-weight: 600;
            height: 38px;
            flex: 1 1 25%;
            color: $black;
            text-align: center;
            line-height: 40px;
            background-color: $light-medium-blue;
          }
        }
      }
    }
    //column maps - right in English 
    &.maps {
      width: 540px;
      height: 1385px;
      text-transform: uppercase;
      .price-graph {
        width: 100%;
        @extend .flexbox-colum-to-top-center;
        h1 {
          @extend .secondary-title;
          margin-bottom: 9px
        }
        .image {
          width: 536px;
          height: 460px;
          background-image: image-url('demo_img/graph.png');
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: 0 0.5px 8px -1px rgba(0, 122, 255, 0.6);
          border: 1px solid $dark-blue;
          margin-bottom: 39px;
        }
      }
      .event-timeline {
        width: 100%;
        @extend .flexbox-colum-to-top-center;
        h1 {
          @extend .secondary-title;
          margin-bottom: 9px
        }
        .image {
          width: 536px;
          height: 387px;
          background-image: image-url('demo_img/graph-2.png');
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: 0 0.5px 8px -1px rgba(0, 122, 255, 0.6);
          border: 1px solid $dark-blue;
        }
      }
      .property-management {
        width: 100%;
        .line {
          width: 100%;
          top: 53px;
        }
        .title {
          margin-top: 36px;
          margin-bottom: 31px;
        }
        .image {
          width: 502px;
          height: 108px;
          background-image: image-url('demo_img/manage.png');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

}
