@import "./_base.css.scss";
//================================
// property-page: 4th
//================================

.property-line {
    height: 1px;
    background-color: $grey;
    position: relative;
    top: 28px;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
  }

  .property-title {
    width: 440px;
    height: 40px;
    margin: 7px auto 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.8px;
    z-index: 2;
    position: relative;
    line-height: 40px;
    border: 1px solid $dark-blue;
    background-color: $white;
    text-transform: uppercase;
    color: $dark-turquoise;
    box-shadow: 0 0.5px 8px -1px rgba(0,122,255,.6);
    &.hebrew { font-size: 20px; width: 290px; letter-spacing: 0.5px;}
  }

.friends-who-invested {
  .container {
    width: 1195px;
  }
  background-color: $white;
  text-transform: uppercase;
  ul {
    @extend .flexbox-wrap-row-start;
    width: 100%;
    padding: 0;
    margin: 60px auto;
  }
  li {
    list-style-type: none;
    .image {
      width: 153px;
      height: 153px;
      background-repeat: no-repeat;
      background-size: cover;
      &.place-1 { background-image: image-url('demo_img/investor-1.png'); }
      &.place-2 { background-image: image-url('demo_img/investor-2.png'); }
      &.place-3 { background-image: image-url('demo_img/investor-3.png'); }
      &.place-4 { background-image: image-url('demo_img/investor-4.png'); }
      &.place-5 { background-image: image-url('demo_img/investor-5.png'); }
    }
    h2 {
      color: $dark-blue;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }
  }
}

.property-documents {
  text-transform: uppercase;
  background-color: $white;
  .container {
    width: 1195px;
  }
  ul {
    @extend .flexbox-wrap-column-start;
    width: 48%;
    height: 230px;
    padding: 26px 0 20px 30px;
    &.hebrew { padding: 26px 30px 20px 0;}
  }
  li {
    list-style-type: none;
    margin: 0 35px 13px 0;
    &.hebrew { margin: 0 0 13px 35px;}
    @extend .flexbox-row-start;
    span {
      color: $dark-blue;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
    .icon {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: image-url('demo_img/doc.png');
      width: 35px;
      height: 42px;
      margin-right: 15px; margin-left: unset;
      &.hebrew { margin-right: unset; margin-left: 15px;}
    }
  }
}