.main-wrapper {
  width: 100%;
  height: 100%;
  background-color: red;
  .data-container {
    width: 1280px;
    background: green;
    margin: 0 auto;
    height: 100%;
    .search-results-right-panel-container {
      width: 280px;
      /*height: 100px;*/
      background: wheat;
      float: right;
      height: 100%;
    }
    .search-top-panel-container {
      width: 1000px;
      background-color: blue;
      height: 130px;
      /*height: 100%;*/
    }
    .google-map-container {
      width: 1000px;
      background-color: yellow;
      /*height: 633px;*/
      height: 100%;
    }

  }
}
