.main-wrapper {
  width: 100%;
  height: 100%;
  /*background-color: red;*/
  .data-container {
    width: 1280px;
    /*background: green;*/
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    .search-results-right-panel-container {
      width: 280px;
      /*height: 100px;*/
      background: wheat;
      height: calc(100vh - 50px);
      overflow-y: auto;
      .sort-by-title {
        font-weight: 600;
        font-size: 12px;
        text-align: center;
      }
    }
    .search-top-panel-container {
      width: 1000px;
      /*background-color: blue;*/
      height: 110px;
      display: flex;
      .search-checkbox {
        background: #1fd6ea;
        width: 11px;
        height: 11px;
        cursor: pointer;
        text-align: center;
        line-height: 12px;
        list-style: none;
        color: white;
        font-size: 9px;
        display: inline-block;
        margin-top: 1px;
      }
      .search-checkbox-text {
        margin-left: 7px;
        cursor: pointer;
      }
      .separate-line {
        border-left: 1px solid #d6cccc;
        height: 80px;
        margin-top: 12px;
      }
      .top-panel-section-title {
        color: #102447;
        font-weight: 600;
        font-size: 12px;
        margin-top: 10px;
        display: flex;
      }
      /*height: 100%;*/
      .top-panel-search-properties {
        width: 435px;
        height: 100%;
        background: white;
        .top-panel-search-properties-container {
          width: 376px;
          margin: 0 auto;
          .properties-buttons-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            .properties-button {
              width: 118px;
              height: 22px;
              text-align: center;
              border: 1px solid black;
              font-size: 10px;
              padding-top: 4px;
              &.left {
                border-color: #fdc228;
              }
              &.middle {
                border-color: #8c0c69;
              }
              &.right {
                border-color: #1fd6ea;
              }
            }
          }
          .search-input {
            width: 100%;
            margin-top: 10px;
          }
        }
      }
      .top-panel-market-type {
        width: 167px;
        height: 100%;
        background: white;
        .top-panel-market-type-container {
          width: 120px;
          margin: 0 auto;
          .market-type-checkbox-wrapper {
            .market-type-checkbox-container {
              display: flex;
              margin-top: 9px;
              font-size: 12px;
            }
          }
        }
      }
      .top-panel-property-type {
        width: 398px;
        height: 100%;
        /*background: #d434ae;*/
        .top-panel-market-type-container {
          width: 376px;
          margin: 0 auto;
          .propery-type-checkbox-wrapper {
            display: flex;
            flex-wrap: wrap;
            .propery-type-checkbox-container {
              width: 100px;
              display: inline-block;
              display: flex;
              margin-top: 9px;
              font-size: 12px;
            }
          }
        }
      }
    }
    .google-map-container {
      width: 1000px;
      background-color: yellow;
      /*height: 633px;*/
      /*height: 100%;*/
      height: calc(100% - 110px);
    }

  }
}
