.main-wrapper {
  width: 100%;
  height: 100%;
  /*background-color: red;*/
  .data-container {
    width: 1280px;
    /*background: green;*/
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    .search-results-right-panel-container {
      width: 280px;
      /*height: 100px;*/
      /*background: wheat;*/
      height: calc(100vh - 50px);
      overflow-y: auto;
      box-shadow: -12px 0px 20px -5px #dff5f7;
      .search-results-right-panel-wrapper {
        width: 190px;
        margin: 0 auto;
        .sort-by {
          display: flex;
          justify-content: center;
          .sort-by-icon {
            background-image: image-url('sort_by.png');
            width: 20px;
            height: 20px;
            margin-top: 10px;
            background-size: 26px 26px;
            margin-right: 5px;
            background-position: center;
            background-repeat: no-repeat;
          }
          .sort-by-title {
            font-weight: 600;
            font-size: 12px;
            margin-top: 15px;
            margin-left: 5px;
            text-align: center;
          }
        }
        .sort-drop-down-container {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-top: 10px;
          height: 26px;
          .sort-drop-down {
            width: 165px;
            background: #DDF2F5;
            font-size: 14px;
            /* font-weight: 600; */
            padding-top: 4px;
            padding-left: 10px;
            padding-right: 10px;
          }
          .sort-arrow-down {
            background-image: image-url('expand.png');
            width: 25px;
            background-size: 12px 7px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #DDF2F5;
          }
        }
        .sort-dropdown-list-container {
          position: absolute;
          height: 58px;
          width: 190px;
          background: white;
          overflow: auto;
          z-index: 10;
          box-shadow: 0px 5px 8px -1px #dff5f7;
          .sort-dropdown-list {
            font-size: 14px;
            height: 25px;
            padding-top: 5px;
            .sort-option {
              cursor: pointer;
              height: 25px;
              width: 100%;
              padding-left: 10px;
              padding-right: 10px;
              padding-top: 5px;
            }
            .sort-option:hover {
              background-color: #dff5f7;
            }
          }
        }
        .separate-properties-results-counter {
          margin-top: 10px;
          border-bottom: 1px solid #d6cccc;
          width: 100%;
        }
        .search-results-count-title {
          font-size: 12px;
          text-align: center;
          color: #4FC3C9;
          margin-top: 10px;
        }
        .search-results-data {
          margin-top: 10px;
        }
      }
    }
    .search-top-panel-container {
      width: 1000px;
      height: 110px;
      display: flex;
      position: relative;
      z-index: 2;
      box-shadow: 0 2px 8px rgba(25, 70, 107, 0.23);

      .search-checkbox {
        background: #4FC3C9;
        width: 11px;
        height: 11px;
        cursor: pointer;
        text-align: center;
        line-height: 12px;
        list-style: none;
        color: white;
        font-size: 9px;
        display: inline-block;
        margin-top: 1px;
      }
      .search-checkbox-text {
        padding-left: 7px;
        padding-right: 7px;
        cursor: pointer;
      }
      .search-checkbox-text-selected {
        font-weight: 700;
      }
      .separate-line {
        border-left: 1px solid #d6cccc;
        height: 80px;
        margin-top: 12px;
      }
      .top-panel-section-title {
        color: #102447;
        font-weight: 600;
        font-size: 12px;
        margin-top: 10px;
        display: flex;
        margin-left: 5px;
      }
      /*height: 100%;*/
      .top-panel-search-properties {
        width: 435px;
        height: 100%;
        .top-panel-search-properties-container {
          width: 376px;
          margin: 0 auto;
          .search-properties {
            display: flex;
            justify-content: space-between;
            .search-properties-v1 {
              display: flex;
            }
            .clear-all-search {
              font-size: 10px;
              font-weight: 600;
              height: 100%;
              display: flex;
              margin-top: 12px;
              cursor: pointer;
              text-decoration: underline;
            }
            .search-properties-icon {
              background-image: image-url('search.png');
              width: 20px;
              height: 20px;
              margin-top: 5px;
              background-size: 30px 30px;
              background-position: center;
              background-repeat: no-repeat;
            }
            
          }
          .address-autocomplete-input {
            width: 100%;
            margin-top: 10px;
            font-size: 12px;
            height: 22px;
            padding-left: 8px;
          }
          //---------------autocomplete------------------

          .locationField {
            width: 75%;
            display: block;
            float: right;
            // position: relative;
            // top: -70px;
            .autocomplete{
              width: 100%;
              height: 30px;
              outline: none;
              border: 1px solid blue;
              padding-left: 7px;
              font-size: 12px;
              &.error{
                border: 1px solid red;
              }
            }
          }
          .properties-buttons-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            .properties-button {
              cursor: pointer;
              width: 118px;
              height: 22px;
              text-align: center;
              border: 1px solid black;
              font-size: 10px;
              padding-top: 4px;
              &.left {
                border-color: #fdc228;
              }
              &.middle {
                border-color: #8c0c69;
              }
              &.right {
                border-color: #1fd6ea;
              }
            }
            .properties-button-left-selected {
              background-color:  #fdc228;
              color: white;
              font-weight: 700;
            }
            .properties-button-middle-selected {
              background-color: #8c0c69;
              color: white;
              font-weight: 700;
            }
            .properties-button-right-selected {
              background-color: #1fd6ea;
              color: white;
              font-weight: 700;
            }
          }
          .search-input {
            width: 100%;
            margin-top: 10px;
          }
        }
      }
      .top-panel-market-type {
        width: 167px;
        height: 100%;
        .top-panel-market-type-container {
          width: 120px;
          margin: 0 auto;
          .market-properties {
            display: flex;
            .market-properties-icon {
              background-image: image-url('market.png');
              width: 20px;
              height: 20px;
              margin-top: 5px;
              background-size: 26px 26px;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
          .market-type-checkbox-wrapper {
            .market-type-checkbox-container {
              display: flex;
              margin-top: 9px;
              font-size: 12px;
            }
          }
        }
      }
      .top-panel-property-type {
        width: 398px;
        height: 100%;
        /*background: #d434ae;*/
        .top-panel-property-type-container {
          width: 376px;
          margin: 0 auto;
          .property-properties {
            display: flex;
            .property-properties-icon {
              background-image: image-url('property.png');
              width: 20px;
              height: 20px;
              margin-top: 5px;
              background-size: 26px 26px;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
          .propery-type-checkbox-wrapper {
            display: flex;
            flex-wrap: wrap;
            .propery-type-checkbox-container {
              width: 100px;
              display: inline-block;
              display: flex;
              margin-top: 9px;
              font-size: 12px;
            }
          }
        }
      }
    }
    .google-map-container {
      width: 1000px;
      /*background-color: yellow;*/
      /*height: 633px;*/
      /*height: 100%;*/
      height: calc(100% - 110px);
    }

  }
}

#add-to-my-list-checkbox {
  font-size: 13px;
}
