@import "./_base.css.scss";
//================================
// how-it-works:
//================================
.how-it-works {
  height: 406px;
  overflow: hidden;
  text-align: center;
  padding-top: 0;
  .container { width: 1180px;}

  .line {
    height: 1px;
    background-color: $grey;
    position: relative;
    top: 39px;
    // width: 1192px;
    width: 1151px;
    transform: translateX(-50%);
    left: 50%;
  }

  .title {
    width: 190px;
    height: 40px;
    margin: 18px auto 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.8px;
    z-index: 2;
    position: relative;
    line-height: 40px;
    border: 1px solid $dark-blue;
    background-color: $white;
    text-transform: uppercase;
    color: $dark-turquoise;
    box-shadow: 0 0.5px 8px -1px rgba(0, 122, 255, 0.6);
  }

  .row-text-wrap {
    height: 93px;
    overflow: hidden;
    .row-text {
      text-align: center;
      color: $black;
      font-weight: 100;
      margin-top: 35px;
      line-height: 27px;
    }
  }

  .row-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between
  }
  .info {
    height: 360px;
    // width: 27%;
    // &.exit { width: 19%; }

    .image {
      width: 120px;
      height: 120px;
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;

      &.search {
        background-image: image-url('icons-1.png');
        left: 5px;
        margin: 24px auto 1px;
      }
      &.invest {
        background-image: image-url('icons-2.png');
        left: 11px;
        margin: 7px auto 18px;
      }
      &.recieve {
        background-image: image-url('icons-3.png');
        margin: 6px auto 19px;
      }
      &.exit {
        background-image: image-url('icons-4.png');
        left: 7px;
        margin: 21px auto 4px;
      }
    }

    .info-title {
      width: 100%;
      height: 25px;
      text-transform: uppercase;
      font-weight: bold;
      color: $dark-blue;
      font-size: 15px;
    }

    .text {
      text-align: center;

      p { 
        margin: 4px; 
        font-weight: lighter;
        font-size: 16px;
        line-height: 26px;
      }

      #diamond {
        width: 7px;
        height: 7px;
        transform: rotate(48deg);
        background-color: $turquoise;;
        margin: 0 auto;
      }
    }
  }
}