@import "./_base.css.scss";
//================================
// leadership:
//================================
.leadership {
  height: 800px;
  overflow: hidden;

  .line {
    height: 1px;
    background-color: $grey;
    margin: 0 auto;
    position: relative;
    top: 48px;
    width: 1151px;
    // width: 1192px;
    transform: translateX(-50%);
    left: 50%;
  }

  .title {
    width: 190px;
    height: 40px;
    margin: 27px auto;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.8px;
    z-index: 2;
    position: relative;
    line-height: 40px;
    border: 1px solid $dark-blue;
    background-color: $white;
    text-transform: uppercase;
    color: $dark-turquoise;
    box-shadow: 0 0.5px 8px -1px rgba(0, 122, 255, 0.6);
  }

  .row.col-3 {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin-top: 75px;
  }

  .leader {
    width: 355px;
    height: 106px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 60px;
    .name {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      height: 106px;
      h2 {
        font-size: 14.5px;
        letter-spacing: 0.88px;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 31px;
        color: $dark-blue;
      }
      h3 {
        font-size: 17px;
        text-transform: capitalize;
        font-weight: 300;
        margin-top: 10px;
        color: $dark-grey;
      }
    }
    .image-wrap {
      border-radius: 50%;
      width: 106px;
      height: 106px;
      margin: 0 34px;
    }
    .image-01 { @extend .image-wrap; background-image: image-url('/people/001.png'); }
    .image-02 { @extend .image-wrap; background-image: image-url('/people/002.png'); }
    .image-03 { @extend .image-wrap; background-image: image-url('/people/003.png'); }
    .image-04 { @extend .image-wrap; background-image: image-url('/people/004.png'); }
    .image-05 { @extend .image-wrap; background-image: image-url('/people/005.png'); }
    .image-06 { @extend .image-wrap; background-image: image-url('/people/006.png'); }
    .image-07 { @extend .image-wrap; background-image: image-url('/people/007.png'); }
    .image-08 { @extend .image-wrap; background-image: image-url('/people/008.png'); }
    .image-09 { @extend .image-wrap; background-image: image-url('/people/009.png'); }
    .image-10 { @extend .image-wrap; background-image: image-url('/people/010.png'); }
    .image-11 { @extend .image-wrap; background-image: image-url('/people/011.png'); }
    .image-12 { @extend .image-wrap; background-image: image-url('/people/012.png'); }
  }
}