@import "./_base.css.scss";
//================================
// our-story:
//================================
.our-story {
  height: 671px;
  overflow: hidden;
  background: $pale-grey;
  color: $dark-blue;

  .line {
    height: 1px;
    background-color: #A4A8B3;
    margin: 0 auto;
    position: relative;
    top: 72px;
    // width: 1192px;
    width: 1151px;
    transform: translateX(-50%);
    left: 50%;
  }

  .title {
    width: 190px;
    height: 40px;
    margin: 51px auto 0;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.8px;
    z-index: 2;
    position: relative;
    line-height: 40px;
    border: 1px solid $dark-blue;
    background-color: $white;
    text-transform: uppercase;
    color: $dark-turquoise;
    box-shadow: 0 0.5px 8px -1px rgba(0, 122, 255, 0.6);
  }
  .row-text {
    text-align: center;
    color: $dark-grey;
    font-weight: 100;
    line-height: 28px;
    font-size: 17px;
    width: 1151px;
    margin: 55px auto 0;
    margin-left: -25px;

  }
  h2 {
    text-transform: uppercase;
    color: $dark-blue;
    font-size: 16px;
    letter-spacing: 1.6px;
    text-align: center;
    margin-top: 76px;
    font-weight: 600;
  }

  .row.col-3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 25px;
  }
  .press-article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .speech-box {
    width: 331px;
    height: 193px;
    background: $white;
    position: relative;
    box-shadow: 0 0.5px 8px -1px rgba(0, 122, 255, 0.6);
    padding: 25px 31px 14px 29px;
    line-height: 22px;
    letter-spacing: 1px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    &.capitalize { text-transform: capitalize; }
    
    &.speech-box::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -26px;
      width: 0;
      height: 0;
      border-right: 26px solid transparent;
      border-top: 26px solid $white;
      border-left: 26px solid transparent;
      filter: drop-shadow(0 0.5px 2px rgba(0,122,255,0.6));
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 56px;
      height: 10px;
      background-color: $white;
    }
    p { font-size: 13px; }
    h5 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .paper-name {
    width: 180px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply, normal;
  }
  .tech-crunch {
    background: url('/logos/paper-01.png'), $pale-grey;
    margin-top: 47px;
    @extend .paper-name;      
  }
  .forbes {
    background: url('/logos/paper-02.png'), $pale-grey;
    margin-top: 42px;
    @extend .paper-name;
  }
  .the-ny-times { 
    background: url('/logos/paper-03.png'), $pale-grey; 
    margin-top: 49px;
    @extend .paper-name;
  }
}