@import "./_base.css.scss";

.portfolio {
  height: 443px;
  overflow: hidden;
  text-align: center;
  padding-top: 0;
  text-transform: uppercase;
  color: #102447;
  
  .container { width: 1197px; }

  .title-wrapper {
    width: 100%;
    height: 60px;

    .title {
      width: 350px;
      margin: 0 auto;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: $dark-blue;
      text-transform: uppercase;
      padding-top: 20px;
    }
  }

  .management-wrapper {
    width: 100%;
    height: 383px;

    .total {
      width: 470px;
      height: 370px;
      float: left;
      color: white;
      box-shadow: 0px 0px 10px -2px $turquoise;

      .left {
        width: 170px;
        height: inherit;
        float: left;
        .top {
          width: inherit;
          height: 210px;
          background-color: $turquoise;

          .equity {
            width: 100%;
            height: 80px;
            padding-top: 30px;
            color: white;

            .currency { 
              text-align: center;
              font-size: 24px; 
              font-weight: 100;
            }

            .text { 
              font-size: 11px;
              padding-top: 4px;
              font-weight: bold;              
            }

          }

          .plus {
            width: 20px;
            height: 20px;
            background-color: #7AD1D8;
            color: white;
            margin: 0 auto;
            border-radius: 50px;
            margin-top: 10px;
            -webkit-user-select: none;
            user-select: none;
          }

          .debt {
            width: 100%;
            padding-top: 15px;
            .currency {
              font-size: 22px;
              font-weight: 100;
            }

            .text {
              font-size: 13px;
              font-weight: bold;
            }
          }
          .equals {
            width: 30px;
            height: 30px;
            margin: 0 auto;
            border-radius: 50px;
            color: $turquoise;
            background-color: white;
            padding-top: 6px;
            margin-top: 27px;
            z-index: 3;
            position: relative;
            font-weight: bold;
            -webkit-user-select: none;
            user-select: none;
          }
        }
        .bottom {
          width: inherit;
          height: 160px;
          background-color: #90D9DF;

          .suitecase {
            width: 40px;
            height: 40px;
            margin: 0 auto;
            background-image: image-url('dash-suitcase.png');
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            top: 32px;
          }

          .total-portfolio {
            margin-top: 32px;
            .currency {
              font-size: 32px;
              font-weight: 100;
            }
            .text {
              font-size: 9px;
              font-weight: bold;
            }
          }
        }
      }

      .right {
        width: 300px;
        height: inherit;
        display: inline-block;
        float: left;

        .title {
          margin-top: 13px;
          font-size: 10px;
          color: $turquoise;
          font-weight: bold;
        }

        .graph-container {
          width: 100%;
          height: 310px;


          .graph-wrap {
            width: 65px;
            height: 275px;
            margin-top: 35px;
            float: left;
            margin-left: 26px;

            .graph {
              width: 100%;
              margin-top: 5px;
              color: white;
              font-size: 10px; 
              font-weight: bold;
              box-shadow: 0px 0px 3px 2px lightgray;
            }
            .info {
              font-size: 10px;
              margin-top: 19px;
              color: black;
            }

            &#income {
              .graph {
                height: 222px;

                .top {
                  background-color: #FAE280;
                  width: inherit;
                  height: 40%;
                  padding-top: 38px;
                }

                .bottom {
                  background-color: #F5C501;
                  width: inherit;
                  height: 60%;
                  padding-top: 60px;
                } 
              }
            }


            &#growth {
              .graph {
                height: 122px;
                margin-top: 105px;

                .bottom {
                  background-color: #92278F;
                  width: inherit;
                  height: 100%;
                  padding-top: 55px;
                } 
              }
            }

            &#income-growth {
              .graph {
                margin-top: 171px;
                height: 55px;

                .top {
                  width: inherit;
                  height: 19%;
                  background-color: #CDF8FF;
                }

                .bottom {
                  width: inherit;
                  height: 81%;
                  background-color: #01DCFD;
                  padding-top: 15px;
                }
              }

              .name {
                white-space: nowrap;
                text-align: center;
                left: -10px;
                position: relative;
              }
            }
          }
        }
      }
    }

    .small {
      width: 225px;
      height: 175px;
      float: left;
      margin-left: 14px;
      box-shadow: 0px 0px 10px -2px $turquoise;
      color: #102447;
      
      .title-small {
        font-size: 11px;
        width: 100%;
        height: 30px;
        padding-top: 10px;
        color: $turquoise;
        font-weight: bold;
      }

      .subtitle {
        font-size: 10px;
        font-weight: bold;
      }

      .graph {
        width: 100%;
        height: 145px;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 50%;

        .text {
          text-align: center;
          color: black;
          position: relative;
          top: 60px;
          font-size: 20px;
          font-weight: bold;
        }

        .lable-top {
          width: 60px;
          font-size: 10px;
          position: relative;
          margin-right: 8px;
          margin-left: auto;
          .title { font-weight: bold; }
        }

        .lable-bottom {
          width: 60px;
          font-size: 10px;
          position: relative;
          top: 55px;
          .title { font-weight: bold; }
        }
      }


      &.total-gains {
        .graph {
          background-image: image-url('dash-graph-1.png');
        }
      }

      &.yield {
        .graph {
          background-image: image-url('dash-graph-2.png');
        }
      }

      &.monthly-income {
        .graph {
          background-image: image-url('dash-graph-4.png');
          background-size: cover;
        }
      }
    }

    .analyzing-tool {
      width: 710px;
      height: 170px;
      float: left;
      margin-left: 14px;
      margin-top: 25px;
      box-shadow: 0px 0px 10px -2px $turquoise;

      .title-small {
        font-size: 11px;
        width: 100%;
        height: 30px;
        padding-top: 10px;
        color: $turquoise;
        font-weight: bold;
      }

      .people-container {
        height: 140px;
        width: 380px;
        float: left;

        .person-wrap {
          width: 105px;
          height: 105px;
          float: left;
          margin: 0 10px;
          margin-top: 30px;
          position: relative;
          box-shadow: 0px 0px 10px -2px $turquoise;

          .img {
            width: 50px;
            height: 50px;
            background-color: white;
            margin: 0 auto;
            border-radius: 50px;
            position: relative;
            top:-30px;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 2;

            &#image-0 {
              background-image: image-url('dash-face-01.png');
            }
            &#image-1 {
              background-image: image-url('dash-face-02.png');
            }
            &#image-2 {
              background-image: image-url('dash-face-03.png');
            }
          }

          .name {
            position: absolute;
            top: 0;
            width: 100%;
            height: 35px;
            font-size: 9px;
            padding-top: 22px;
            font-weight: bold;
            background-color: #EEFAFA;
          }

          .data-wrap {
            width: 100%;
            height: 50px;
            margin-top: -15px;

            .data {
              width: 50%;
              height: 100%;
              float: left;
              line-height: 30px;
              font-weight: bold;
              &:first-child {
                box-shadow: 10px 0px 10px -10px $turquoise;
              }

              .title {
                width: 100%;
                height: 20px;
                font-size: 8px;
                font-weight: normal;
              }

              .return {
                font-size: 13px;
                position: relative;
                top: -3px;
              }

              .risk {
                border-radius: 50px;
                width: 20px;
                height: 20px;
                margin: 0 auto;
                line-height: 20px;
                position: relative;
                top: 3px;
                font-size: 10px;

                &#risk-b {
                  color: #8AC542;
                  border: 1px solid #8AC542;
                }

                &#risk-c {
                  color: #F6A64A;
                  border: 1px solid #F6A64A;
                }

                &#risk-d {
                  color: #2F9DD5;
                  border: 1px solid #2F9DD5;
                }
              }
            }
          }

          .value {
            height: 20px;
            font-size: 10px;
            font-weight: bold;
            padding-top: 4px;
            color: white;
            background-color: $turquoise;
          }
        }
      }

      .graphs-container {
        height: 140px;
        float: left;
        width: 330px;

        .graph1 {
          height: 100%;
          width: 185px;
          float: left;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: image-url('dash-graph-3.png');
          background-position: 7px 17px;
        }
        .graph2 {
          height: 100%;
          width: 145px;
          float: left;
          background-repeat: no-repeat;
          background-size: 115px;
          background-image: image-url('dash-graph-1.png');
          background-position: 12px;

          .text {
            position: relative;
            top: 60px;
            font-weight: bold;
            font-size: 20px;
            left: -4px;
          }
        }
      }
    }
  }
}