@import "./_base.css.scss";
//================================
// partners:
//================================
.partners {
  height: 388px;
  overflow: hidden;

  .line {
    height: 1px;
    background-color: $grey;
    margin: 0 auto;
    position: relative;
    width: 1151px;
    top: 58px;
    transform: translateX(-50%);
    left: 50%;
  }

  .title {
    width: 190px;
    height: 40px;
    margin: 37px auto 17px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.8px;
    z-index: 2;
    position: relative;
    line-height: 37px;
    border: 1px solid $dark-blue;
    background-color: $white;
    text-transform: uppercase;
    color: $dark-turquoise;
    box-shadow: 0 0.5px 8px -1px rgba(0, 122, 255, 0.6);
  }

    .partners-container {
      width: 100%;
      height: 220px;
      margin-top: 55px;
      
      .partner {
        width: 25%;
        height: 50%;
        float: left;
        background-size: 100%;

        &.canada {
          background: image-url('Partner_logo_7.png'), $pale-grey;
          background-size: 65%;
          background-position-x: 60px;
          background-repeat: no-repeat;
          background-blend-mode: multiply, normal;
        }

        &.cbre {
          background: image-url('Partner_logo_3.png'), $pale-grey;
          background-size: 47%;
          background-position-x: 60px;
          background-repeat: no-repeat;
          background-blend-mode: multiply, normal;
        }

        &.ey {
          background: image-url('Partner_logo_6.png'), $pale-grey;
          background-size: 46%;
          background-position-x: 78px;
          background-position-y: -5px;
          background-repeat: no-repeat;
          background-blend-mode: multiply, normal;
        }

        &.deloitte {
          background: image-url('Partner_logo_8.png'), $pale-grey;
          background-size: 66%;
          background-position-x: 55px;
          background-position-y: -1px;
          background-repeat: no-repeat;
          background-blend-mode: multiply, normal;
        }

        &.pwc {
          background: image-url('LNDMRK_v5-06.png'), $pale-grey;
          background-size: 50%;
          background-position: 40px;
          background-repeat: no-repeat;
          background-blend-mode: multiply, normal;
        }

        &.kpmg {
          background: image-url('Partner_logo_2.png'), $pale-grey;
          background-size: 50%;
          background-position: 56px;
          background-repeat: no-repeat;
          background-blend-mode: multiply, normal;
        }

        &.goldman {
          background: image-url('Partner_logo_4.png'), $pale-grey;
          background-size: 50%;
          background-position: 66px;
          background-repeat: no-repeat;
          background-blend-mode: multiply, normal;
        }

        &.ubs {
          background: image-url('Partner_logo_5.png'), $pale-grey;
          background-size: 50%;
          background-position: 92px;
          background-repeat: no-repeat;
          background-blend-mode: multiply, normal;
        }
      }
    }
}