@import "./_base.css.scss";
//================================
// statistics:
//================================
.statistics {
  height: 350px;
  overflow: hidden;
  background: $turquoise;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 1154px;

    .column {
      width: 228px;
      text-transform: uppercase;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
      .pie-area { position: relative;}
      h1 {
        color: $white;
        font-size: 60px;
        font-weight: 600;
        text-shadow: 0 4px 3px rgba(6, 36, 71, .5);
      }
      h2 {
        color: $dark-blue;
        font-size: 31px;
        letter-spacing: 2px;
        font-weight: 100;
        position: absolute;
        top: 94px;
        left: 50%;
        transform: translateX(-50%);
      }
      h3 {
        color: $white;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        margin-top: 51px;
        position: relative;
        letter-spacing: 1px;
      }
      .line {
        position: absolute;
        &.growth {
          top: 63px; right: 174px;
          transform: rotate(19deg);
        }
        &.income {
          top: 73px; right: -65px;
          transform: rotate(156deg);
        }
        &.income-growth { 
          top: 173px; right: 144px;
          transform: rotate(-34deg);
        }
      }
      .diamond-base {
        width: 90px;
        height: 7px;
        background-color: $white;
        position: absolute;
        background-image: image-url('statistics_icon-1.png');
      }
      h4 {
        color: $dark-blue;
        font-size: 11px;
        position: relative;
        display: inline-block;
        letter-spacing: 2.5px;
        &.growth {
          top: 22px; right: 79px;
        }
        &.income {
          top: 24px; left: 169px;
        }
        &.income-growth {
          top: 188px; right: 227px;
          width: 80px;
          text-align: center;
          line-height: 12px;
        }
      }
      .icon {
        width: 80px;
        height: 80px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 45px auto 2px;
        &.distributed {
          background-image: image-url('statistics_icon-1.png');
          
        }
        &.portfolio {
          background-image: image-url('statistics_icon-2.png');
        }
      }

      .pie-image {
        width: 186px;
        height: 186px;
        background: image-url('pie-3.png');
        margin-top: 26px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}