@import "./_base.css.scss";
//================================
// hero-map:
//================================
.hero-map {
  // background: #01264b; /* Old browsers */
  // background: -moz-linear-gradient(top,  #01264b 0%, #194b92 51%, #9f349c 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(top,  #01264b 0%,#194b92 51%,#9f349c 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom,  #01264b 0%,#194b92 51%,#9f349c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01264b', endColorstr='#9f349c',GradientType=0 ); /* IE6-9 */
  
  height: 350px;
  // height: 482px;
  overflow: hidden;

  .hero-map-container {
    width: 488px;
    height: 193px;
    margin: 119px auto 0;
    text-transform: uppercase;
    
    .title {
      padding-left: 2px;
      font-size: 21px;
      letter-spacing: 2px;
      line-height: 31px;
      font-weight: 600;
      word-spacing: 1px;
      color: $white;
    }

    .filters-container {
      width: inherit;
      height: 31px;
      margin-top: 29px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      .filter {
        display: inline-block;
        width: 155px;
        text-align: center;
        height: 25px;
        font-size: 10px;
        line-height: 28px;
        color: $white;
        font-weight: bold;
        text-shadow: 0 1px 3px $grey;
        cursor: pointer;
        letter-spacing: 1px;

        &.income {
          background-color: $yello;
        }
        &.growth {
          background-color: $purple;
        }
        &.income-growth {
          background-color: $medium-blue;
          letter-spacing: 0.8px;
        }


      }
    }

    .search-container {
      width: inherit;
      height: 48px;
      margin-top: 10px;
      
      input.search {
        width: 488px;
        height: inherit;
        display: block;
        padding-left: 18px;
        font-size: 13px;
        letter-spacing: 0.1px;
        background-color: rgba(255, 255, 255, .4);
        border: 1px solid $white;
        color: $white;
      }
      input.search::-webkit-input-placeholder { color: $white; }
      input.search::-moz-placeholder { color: $white; }
    }

    .search-info {
      width: 90px;
      height: 106px;
      margin: 19px auto 0;
      color: $white;

      .title {
        font-size: 20.96px;
        letter-spacing: 1.7px;
        margin-left: -3px;
      }

      .subtitle {
        width: inherit;
        height: 18px;
        text-align: center;
        font-size: 8px;
        padding-top: 2px;
      }

      #diamond {
        width: 5px;
        height: 5px;
        transform: rotate(48deg);
        background-color: white;
        margin: 0 auto;
      }

      #line {
        height: 36px;
        width: 1px;
        background-color: white;
        transform: rotate(180deg);
        margin: 0 auto;
        margin-left: 43px;
      }
    }
  }
}