@import "./_base.css.scss";
//================================
// projects-carousel:
//================================
.projects-carousel {
  height: 300px;
  overflow: hidden;
  background: $white;
}