@import "./_base.css.scss";
//================================
// hero-map:
//================================
.hero-map {
  height: 340px;
  overflow: hidden;

  .title {
    padding-left: 50px;
    text-align: center;
    font-size: 34px;
    letter-spacing: 2.9px;
    word-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    color: $white;
    margin: 130px auto 0;
    text-shadow: 0 2px 8px rgba(25, 70, 107, .83);
  }
  .hero-map-container {
    width: 488px;
    margin: -3px auto 0;
    text-transform: uppercase;

    .filters-container {
      width: inherit;
      height: 29px;
      margin-top: 28px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      .filter {
        display: inline-block;
        width: 157px;
        text-align: center;
        height: 29px;
        font-size: 11px;
        line-height: 29px;
        color: $white;
        font-weight: bold;
        text-shadow: 0 1px 3px $grey;
        cursor: pointer;
        letter-spacing: 1.2px;
        user-select: none;
        -webkit-user-select: none;

        &.active {
         box-shadow: inset 0 0 8px #000000;
        }

        &.income {
          background-color: $yello;
        }
        &.growth {
          background-color: $purple;
        }
        &.income-growth {
          background-color: $medium-blue;
        }
      }
    }

    .search-container {
      width: inherit;
      height: 47px;
      margin-top: 12px;
      
      input.search {
        width: 488px;
        height: inherit;
        display: block;
        padding-left: 18px;
        font-size: 15px;
        line-height: 47px;
        letter-spacing: 0;
        background-color: rgba(51, 51, 51, .4);
        border: 1px solid $white;
        color: $white;
      }
      input.search::-webkit-input-placeholder { color: $white; }
      input.search::-moz-placeholder { color: $white; }
    }

    .search-info {
      width: 110px;
      margin: 27px auto 0;
      color: $white;

      .search-button {
        font-size: 21px;
        font-weight: 600;
        letter-spacing: 4px;
        margin: 0 auto 0 9px;
        cursor: pointer;
        text-shadow: 0 2px 3px rgba(25, 70, 107, .83);
      }

      .subtitle {
        width: inherit;
        height: 18px;
        text-align: center;
        font-size: 8px;
        padding-top: 2px;
      }

      #diamond {
        width: 5px;
        height: 5px;
        transform: rotate(48deg);
        background-color: white;
        margin: 0 auto;
      }

      #line {
        height: 36px;
        width: 1px;
        background-color: white;
        transform: rotate(180deg);
        margin: 0 auto;
        margin-left: 43px;
      }
    }
  }
}