@import "./_base.css.scss";
//================================
// projects-carousel:
//================================
.carousel-directive {
  width: 100%;
  margin: 0; padding: 0;
}
.assets-carousel {
  height: 310px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  a {
    text-decoration: none;
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }
}

.base-carousel-arrow {
  cursor: pointer;
  flex: 0 0 auto;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-top: 38px;
  &.greyed {
    opacity: .3;
    cursor: default;
  }
}
.carousel-arrow-wrap {
  width: 44px;
  margin-top: 67px;
  // position: absolute;
  // z-index: 1;
  &.left { order: 1;}
  &.right { order: 3;}
  // &.right { order: 3; right: 0;}
}

.carousel-arrow-l {
  @extend .base-carousel-arrow;
  margin-left: 15px;
  border-right:9px solid $white;
}

.carousel-arrow-r {
  @extend .base-carousel-arrow;
  margin-left: 19px;
  border-left:9px solid $white;
}

//assets list
.carousel-show {
  height:100%;
  margin: 0;
  padding: 0;
  // width: 1280px;
  width: 1192px;
  // min-width: 1104px;
  flex: 1 1 auto;
  order: 2;
  overflow: hidden;
  // position: relative;
  // left: 0;
  // z-index: 0;
}

.carousel-outer-wrap {
  height:100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

.carousel-inner-wrap {
  height:100%;
  width: 2600px;
  padding: 0;
  box-sizing: border-box;  
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-start;
  transition: left 0.5s ease-out;
  margin: 0;
}

.asset-block {
  cursor: default;
  height: calc(100% - 39px);
  width: 187px;
  margin: 0 64px 0 0;
  // margin: 0 24px 0 40px;
  padding:0;
  text-align: center;
  h3 {
    cursor: pointer;
    font-size: 11px;
    text-transform: uppercase;
    color: $white;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin: 42px auto 5px;
    position: relative;
    z-index: 1;
  }
  h4 {
    cursor: pointer;
    font-size: 8px;
    text-transform: uppercase;
    color: $purple;
    margin: 4px auto 13px;
  }
  .asset-box-shadow {
    height: 200px;
    width: 187px;
    box-shadow: 0 -18px 60px 5px rgba(0, 76, 74, 0.5);
    // box-shadow: 0 -10px 60px 5px rgba(13, 66, 64, 0.5);
    position: absolute;
    z-index: 0;
    pointer-events: none;
  }
  .box-wrap {
    cursor: pointer;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 220px;
    width: 187px;
    margin: 0 auto;
    box-shadow: 0 0 9px -1px rgba(0, 0, 0, .4);
    .bottom-row {
      height: 26px;
      width: 187px;
      overflow: hidden;
      position: relative;
      pointer-events: none;
      .shadow {
        box-shadow: inset 0 5px 25px -6px rgba(41,41,41,.56);
        width: 210px;
        margin-left: -10px;
        position: absolute;
        height: 34px;
        pointer-events: none;
      }
      .investment-type {
        color: $white;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 27px;
        text-align: center;
        pointer-events: none;
        &.income {background-color: $yello;}
        &.growth {background-color: $purple;}
        &.income-growth {background-color: $medium-blue;}
      }
    }
    .light-blue-shadow {
      position: absolute;
      width: 124px;
      height: 187px;
      pointer-events: none;
      // rgb(0, 122, 255)
    }
    .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      height: calc(220px - 26px);
      box-shadow: 0 0 9px -1px rgba(0, 0, 0, .4);
      pointer-events: none;
      .right-col {
        width: calc(187px - 126px);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        // border-right: 2px solid $medium-blue;
        order: 2;
        background-color: $white;
        padding: 9px 0 18px;
        pointer-events: none;
        .partition {
          border-bottom: 1px solid $light-grey;
          width: 34px;
          height: 1px;
          overflow: hidden;
          margin: 8px auto 10px;
          pointer-events: none;
        }
        .risk-letter {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          line-height: 19px;
          text-align: center;
          border: 2px solid;
          border-radius: 50%;
          width: 22px;
          height: 22px;
          pointer-events: none;
          &.risk-b { color: $green; border-color: $green; padding-left: 1px;}
          &.risk-c { color: $blue-2; border-color: $blue-2; }
          &.risk-d { color: $orange; border-color: $orange; padding-left: 1px; }
        }
        .info-title {
          color: $dark-grey;
          font-size: 8px;
          margin-bottom: 2px;
          pointer-events: none;
        }
        .info-data {
          color: $dark-blue;
          font-size: 17px;
          font-weight: 600;
          pointer-events: none;
        }
      }
      .image-placer {
        width: 126px;
        pointer-events: none;
        order: 1;
        .property-datails {
          pointer-events: none;
          position: relative;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 13px;
          letter-spacing: 1px;
          color: $dark-blue;
          bottom: 59px;
          z-index: 1;
          height: 53px;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%,rgba(255,255,255,.3) 15%,rgba(255,255,255,.8) 50%, $white 79%);
          &.is-hovered.income {
            background: linear-gradient(to bottom, rgba(255,216,26, 0) 0%,rgba(255,216,26, .3) 15%,rgba(255,216,26, .8) 50%, $yello 79%);
            color: $white;
          }
          &.is-hovered.growth {
            background: linear-gradient(to bottom, rgba(146,39,142,0) 0%,rgba(146,39,142,.3) 15%,rgba(146, 39, 142, .8) 50%, $purple 79%);
            color: $white;
          }
          &.is-hovered.income-growth {
            background: linear-gradient(to bottom, rgba(0,219,255,0) 0%,rgba(0,219,255,.3) 15%,rgba(0, 219, 255, .8) 50%, $medium-blue 79%);
            color: $white;
          }
        }
      }
    }
    
    .image-border {
      pointer-events: none;
      width: 126px;
      height: calc(220 - 25px);
      position: absolute;
      overflow: hidden;
      -webkit-box-shadow: 0px 1px 10px 1px rgba(197,214,240,1);
      -moz-box-shadow: 0px 1px 10px 1px rgba(197,214,240,1);
      box-shadow: 0px 1px 10px 1px rgba(197,214,240,1);
    }
  }

  
}
