@import "_base.css.scss";
@import "section_hero_map.css.scss";
@import "section_proj_carousel.css.scss";
@import "section_how_it_works.css.scss";
@import "section_statistics.css.scss";
@import "section_our_story.css.scss";
@import "section_leadership.css.scss";
@import "section_partners.css.scss";
//================================
//header:=========================
//================================
header {
  background: $pale-grey;
  height: 50px;
  width: 1200px;
  margin: 0 auto;

  .header-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    ul, ol, li {
      margin: 0;
      padding: 0;
      a, .v-strip {
        text-decoration: none;
        display: inline-block;
        color: $dark-blue;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.9px;
      }
      .v-strip { font-size: 13px; margin-top: 3px;}
    }
    li {
      cursor: pointer;
    }
    .link-1 { margin-left: 45px; }
    .link-2 { margin-left: 40px; }
    .link-3 { margin-left: 42px; }
    .link-4 { margin-right: 5px; }
    .link-5 { margin-right: 42px; margin-left: 3px; }
    .link-6 { margin-right: 28px; }
  }

  .left-side {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 70%;
    margin-left: 50px;
    align-items: center;
  }
  .right-side {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 30%;

    .invest-wrap {
      display: inline-block;
      width: 80px;
      margin-left: -8px;
      height: 26px;
      border-radius: 3px;
      background-color: $purple;
      cursor: pointer;

      .invest {
        width: inherit;
        display: block;
        height: inherit;
        text-decoration: none;
        line-height: 26px;
        text-align: center;
        color: $white;
        letter-spacing: 1px;
      }
    }
  }
  .header-logo {
    display: inline-block;
    margin-left: -6px;
    position: relative;
    top: 3px;
  }
}



.row {
  display: flex;
  flex-flow: row nowrap;


  /*&.1-col {
    width: 100%;
  }
  */
}


//================================
//footer:=========================
//================================
footer {
  height: 585px;
  overflow: hidden;
  background: $dark-blue;
  color: $white;

  .left {
    width: 660px;
    height: 280px;
    float: left;

    .links-container {
      width: 90%;
      height: inherit;
      margin: 0 auto;
      color: white;

      .column {
        width: 33.33%;
        height: inherit;
        float: left;
        line-height: 36px;
        margin-top: 21px;
        text-align: left;
        padding-left: 60px;

        .link {
          cursor: pointer;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }

  .right {
    width: 480px;
    height: 280px;
    float: left;

    .contact {
      width: 90%;
      height: 65px;
      margin: 0px auto;
      margin-top: 30px;

      .contact-info {
        width: 37%;
        float: left;
        text-align: center;
        line-height: 25px;
        margin-right: 20px;
        margin-top: 6px;
      }
    }

    .social {
      width: 100%;
      height: 85px;

      .social-item {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        float: left;
        margin-top: 22px;
        margin-left: 25.5px;
        background-repeat: no-repeat;
        background-size: cover;
        
        &.facebook {
          background-image: image-url('footer_social1.png');
        }
        &.twitter {
          background-image: image-url('footer_social2.png');
        }
        &.linkdin {
          background-image: image-url('footer_social3.png');
        }
        &.mail {
          background-image: image-url('footer_social4.png');
        }

      }
    }
  }

  .buttom {
    float: left;
    width: 100%;
    height: 295px;

    .paragraph {
      width: 83%;
      margin: 0 auto;
      margin-top: 4px;
      line-height: 22px;
      font-weight: 200;
      color: lightgrey;
    }
  }
}
