@import "_base.css.scss";
@import "section_hero_map.css.scss";
@import "section_proj_carousel.css.scss";
@import "section_how_it_works.css.scss";
@import "section_statistics.css.scss";
@import "section_our_story.css.scss";
@import "section_leadership.css.scss";
@import "section_partners.css.scss";
//================================
//header:=========================
//================================
header {
  background: $white;
  height: 48px;
  width: 1200px;
  margin: 0 auto;

  .header-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    ul, ol, li {
      margin: 0;
      padding: 0;
      line-height: 26px;
      a {
        text-decoration: none;
      }
    }
    li {
      cursor: pointer;
    }
  }
  a {
    display: inline-block;
    text-transform: capitalize;
    color: $dark-blue;
    margin-right: 30px;
  }

  .left-side {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 70%;
    margin-left: 50px;
    
    .link {
      display: block;
      margin-left: 5px;
      line-height: 55px;
    }
  }
  .right-side {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 30%;

    .invest-wrap {
      display: inline-block;
      margin-right: 35px;
      width: 75px;
      margin-left: -8px;
      height: 26px;
      border-radius: 7px;
      background-color: deeppink;
      cursor: pointer;

      .invest {
        width: inherit;
        display: block;
        height: inherit;
        text-decoration: none;
        line-height: 26px;
        text-align: center;
      }
    }
  }
  .header-logo {
    display: inline-block;
    margin-left: 30px;
  }
}



.row {
  display: flex;
  flex-flow: row nowrap;

  /*&.1-col {
    width: 100%;
  }
  */
}


//================================
//footer:=========================
//================================
footer {
  height: 550px;
  overflow: hidden;
  background: $dark-blue;
  color: $white;

  .left {
    width: 660px;
    height: 280px;
    float: left;

    .links-container {
      width: 90%;
      height: inherit;
      margin: 0 auto;
      color: white;

      .column {
        width: 33.33%;
        height: inherit;
        float: left;
        line-height: 36px;
        margin-top: 21px;
        text-align: left;
        padding-left: 60px;

        .link {
          cursor: pointer;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  .right {
    width: 480px;
    height: 280px;
    background-color: red;
    float: left;
  }

  .buttom {
    float: left;
    width: 100%;
    height: 295px;
    background-color: green;
  }
}
